<%
const navT = typeof t === "function" ? t : ((key) => { throw new Error("i18n translator is not initialized") })
%>
<header class='navheader grabbable'>
<h1>
<a class='home' href="/home"><img class='icon' src="/pinokio-black.png" alt="Pinokio"></a>
<button class='btn2' id='minimize-header' data-tippy-content="<%=navT("common.fullscreen")%>" title='<%=navT("common.fullscreen")%>'>
  <div><i class="fa-solid fa-expand"></i></div>
</button>
<button class='btn2' id='back' data-tippy-content="<%=navT("common.back")%>"><div><i class="fa-solid fa-chevron-left"></i></div></button>
<button class='btn2' id='forward' data-tippy-content="<%=navT("common.forward")%>"><div><i class="fa-solid fa-chevron-right"></i></div></button>
<button class='btn2' id='refresh-page' data-tippy-content="<%=navT("common.refresh")%>"><div><i class="fa-solid fa-rotate-right"></i></div></button>
<button class='btn2' id='screenshot' data-tippy-content="<%=navT("common.screen_capture")%>"><i class="fa-solid fa-camera"></i></button>
<button class='btn2' id='inspector' data-tippy-content="<%=navT("common.xray_mode")%>"><i class="fa-solid fa-eye"></i></button>
<div class='flexible'></div>
<a class='btn2' href="/columns" data-tippy-content="<%=navT("common.split_columns")%>">
  <div><i class="fa-solid fa-table-columns"></i></div>
</a>
<a class='btn2' href="/rows" data-tippy-content="<%=navT("common.split_rows")%>">
  <div><i class="fa-solid fa-table-columns fa-rotate-270"></i></div>
</a>
<button class='btn2' id='new-window' data-tippy-content="<%=navT("common.open_new_window")%>" title='<%=navT("common.open_new_window")%>' data-agent="<%= agent %>">
  <div><i class="fa-solid fa-plus"></i></div>
</button>
<button class='btn2 hidden' id='close-window' data-tippy-content='<%=navT("common.close_section")%>'>
  <div><i class="fa-solid fa-xmark"></i></div>
</button>
</h1>
</header>
