<% options.forEach((i) => { %>
  <div class='tab terminal-option-tab' role="button" tabindex="0" data-terminal-option-tab="true" data-target="@<%= i.href %>" data-href="<%= i.href %>">
    <% if (i.image) { %>
      <img src="<%= i.image %>">
    <% } else if (i.icon) { %>
      <i class="img <%= i.icon %>"></i>
    <% } %>
    <div class='tab-copy'>
      <h2 class='tab-title'><%= i.title %></h2>
      <% if (i.subtitle) { %>
        <div class='tab-subtitle subtitle'><%= i.subtitle %></div>
      <% } %>
    </div>
    <div class='tab-actions'>
      <div class='disclosure-indicator' aria-hidden="true">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
  </div>
<% }) %>
