<div class='menu-container menu-column user-terminal <%= userTerminal.menu.length === 1 ? "user-terminal--single" : "" %>'>
  <div class='tab-header'>
    <h3><i class='<%= userTerminal.icon %>'></i> <%= userTerminal.title === "Terminals" ? "Project Shell" : userTerminal.title %></h3>
  </div>
  <%- include('./d_column_subtitle', { section: userTerminal }) %>
  <div class='tab-content'>
    <% userTerminal.menu.forEach((i) => { %>
      <div class='terminal-shell-group'>
        <div class='terminal-shell-heading'>
          <% if (i.image) { %>
            <img src="<%= i.image %>">
          <% } else if (i.icon) { %>
            <i class="img <%= i.icon %>"></i>
          <% } %>
          <div class='tab-copy'>
            <h2 class='tab-title'><%= i.title %></h2>
            <% if (i.subtitle) { %>
              <div class='tab-subtitle subtitle'><%= i.subtitle %></div>
            <% } %>
          </div>
        </div>
        <div class='terminal-shell-options'>
          <%- include('./d_terminal_options', { options: i.menu || [], indexState, getItemDescription }) %>
        </div>
      </div>
    <% }) %>
  </div>
</div>
