<dialog id='<%= id %>' class='home-actions-dialog' aria-labelledby='<%= id %>-title'>
  <div class='home-actions-shell'>
    <div class='home-actions-header'>
      <div class='home-actions-icon'>
        <% if (item.icon) { %>
          <img src='<%= item.icon %>' onerror="this.src='/pinokio-black.png'" alt='' />
        <% } else { %>
          <img src='/pinokio-black.png' alt='' />
        <% } %>
      </div>
      <div class='home-actions-heading'>
        <div class='home-actions-title-row'>
          <h2 id='<%= id %>-title'><%= item.name %></h2>
          <% if (item.autolaunch_starting) { %>
            <span class='home-actions-status home-actions-status--starting'>Starting</span>
          <% } else if (item.running) { %>
            <span class='home-actions-status'>Running</span>
          <% } %>
        </div>
        <div class='home-actions-path'><%= item.filepath %></div>
      </div>
      <button type='button' class='home-actions-close' aria-label='Close'>
        <i class='fa-solid fa-xmark' aria-hidden='true'></i>
      </button>
    </div>

    <div class='home-actions-tabs' aria-label='App action modes'>
      <button type='button' class='home-actions-tab is-active' role='tab' aria-selected='true' data-tab='run' aria-controls='<%= id %>-run'>
        <i class='fa-solid fa-play' aria-hidden='true'></i>
        <span>Run</span>
      </button>
      <button type='button' class='home-actions-tab home-browse' data-src='<%= item.dev_url %>' title='Open dev mode' aria-label='Open dev mode'>
        <i class='fa-solid fa-code' aria-hidden='true'></i>
        <span>Dev</span>
        <% if (item.terminal_online_count > 0) { %>
          <span class='home-actions-count'><%= item.terminal_online_count %> online</span>
        <% } %>
      </button>
      <button type='button' class='home-actions-tab' role='tab' aria-selected='false' data-tab='files' aria-controls='<%= id %>-files'>
        <i class='fa-solid fa-file-lines' aria-hidden='true'></i>
        <span>Files</span>
      </button>
    </div>

    <div class='home-actions-body'>
      <section id='<%= id %>-run' class='home-actions-panel is-active' role='tabpanel' data-panel='run'>
        <div class='home-run-menu-list'>
          <button type='button' class='home-mode-command home-browse' data-src='<%= item.view_url %>'>
            <i class='fa-regular fa-eye' aria-hidden='true'></i>
            <span>Open without launching</span>
          </button>
          <% if (item.menu && item.menu.length > 0) { %>
            <%- include('./home_run_menu', { menu: item.menu, app: item }) %>
          <% } %>
        </div>
      </section>

      <section id='<%= id %>-files' class='home-actions-panel' role='tabpanel' data-panel='files' hidden>
        <div class='home-actions-command-list'>
          <button type='button' class='home-mode-command home-browse' data-src='<%= item.files_url %>'>
            <i class='fa-solid fa-file-lines' aria-hidden='true'></i>
            <span>Open files mode</span>
          </button>
          <button type='button' class='home-mode-command' data-filepath='<%= item.filepath %>'>
            <i class='fa-solid fa-folder-open' aria-hidden='true'></i>
            <span>Open in file explorer</span>
          </button>
          <button type='button' class='home-mode-command edit-menu'>
            <i class='fa-solid fa-pen-to-square' aria-hidden='true'></i>
            <span>Edit launcher</span>
          </button>
          <button type='button' class='home-mode-command copy-menu'>
            <i class='fa-solid fa-copy' aria-hidden='true'></i>
            <span>Copy app</span>
          </button>
          <button type='button' class='home-mode-command move-menu' <% if (item.running) { %>data-disable='To move the folder, the app should not be running.'<% } %>>
            <i class='fa-solid fa-right-to-bracket' aria-hidden='true'></i>
            <span>Move app</span>
          </button>
          <button type='button' class='home-mode-command is-danger del' data-src='<%= item.url %>' <% if (item.running) { %>data-disable='To delete the folder, the app should not be running.'<% } %>>
            <i class='fa-solid fa-trash-can' aria-hidden='true'></i>
            <span>Delete app</span>
          </button>
        </div>
      </section>
    </div>
  </div>
</dialog>
