<% menu.forEach((item, index) => { %>
  <% if (item.menu) { %>
    <div class='nested-menu'>
      <div class='btn header-item frame-link reveal'>
        <div class='tab'><%-item.btn%></div>
      </div>
      <div class='submenu hidden'>
        <%- include('./menu', { menu: item.menu }) %>
      </div>
    </div>
  <% } else { %>
    <% if (item.btn) { %>
      <% if (item.action) { %>
        <div <%=item.default ? 'data-default' : ''%> data-action="<%=JSON.stringify(item.action)%>" class='btn header-item frame-link'>
          <div class='tab'><%-item.btn%></div>
        </div>
      <% } else if (item.fs) { %>
        <div data-filepath="<%=item.href%>" class='btn header-item frame-link'>
          <div class='tab'><%-item.btn%></div>
        </div>
      <% } else if (item.target === "_blank") { %>
        <a <%=item.default ? 'data-default' : ''%> data-confirm="<%=item.confirm%>" data-index="<%=index%>" target="<%=item.target%>" data-mode="<%=item.mode%>" href="<%=item.href%>" class='btn header-item frame-link'>
          <div class='tab'><%-item.btn%></div>
          <div class='loader'>
            <i class="fa-solid fa-up-right-from-square"></i>
          </div>
        </a>
      <% } else { %>
        <a <%=item.default ? 'data-default' : ''%> data-confirm="<%=item.confirm%>" data-index="<%=index%>" target="<%=item.target%>" data-mode="<%=item.mode%>" href="<%=item.href%>" class='btn header-item frame-link'>
          <div class='tab'><%-item.btn%></div>
          <% if (item.running) { %>
            <div class='loader shutdown'>
              <!--
              <i class='fa-solid fa-spin fa-circle-notch'></i>
              <i class="fa-solid fa-chevron-right"></i>
              -->
              <button class='btn'>
              <i class="fa-solid fa-square"></i> Stop
              </button>
            </div>
          <% } %>
        </a>
      <% } %>
    <% } %>
  <% } %>
<% }) %>
