<% repos.forEach((git, index) => { %>
  <a target="/git/<%=ref%>/<%=git.gitParentRelPath%>" href="/git/<%=ref%>/<%=git.gitParentRelPath%>" class='btn header-item frame-link' data-index="<%=index%>" data-mode="refresh">
    <div class='tab'><i class="fa-solid fa-cube"></i> <%=git.name%></div>
  </a>
<% }) %>
