<%
const tr = typeof t === "function" ? t : ((key) => { throw new Error("i18n translator is not initialized") })
%>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
body.error-body  {
  width: 100%;
  margin: 0;
  background: royalblue;
  color: white;
  padding: 50px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
}
h1 {
  font-size: 40px;
  text-transform: uppercase;
}
pre {
  width: 100%;
}
body.error-body footer.error-footer {
  display: block;
  border-left: 4px solid white;
  padding: 10px 20px;
  margin-top: 50px;
}
body.error-body footer.error-footer ol {
  padding-inline-start: 20px;
  margin: 0;
  padding-top: 10px;
}
body.error-body footer.error-footer a {
  color: white;
  font-weight: bold;
}
</style>
</head>
<body class='error-body'>
<h1><%=tr("common.error")%></h1>
<pre><%=stack%></pre>
<footer class='error-footer'>
  <div><%=tr("errors.try_intro")%></div>
  <ol>
    <li><%=tr("errors.update_pinokio")%> <a href="<%=install%>" target="_blank"><%=tr("errors.download_page")%></a></li>
    <li><%=tr("errors.try_troubleshooting")%> <a href="/home?mode=settings#troubleshoot"><%=tr("settings.troubleshoot")%></a></li>
    <li><%=tr("errors.ask_community")%> <a href="http://localhost/home?mode=help" target="_blank"><%=tr("errors.community")%></a></li>
  </ol>
</footer>
</body>
</html>
