<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/xterm.min.css" rel="stylesheet" />
<link href="/css/fontawesome.min.css" rel="stylesheet">
<link href="/css/solid.min.css" rel="stylesheet">
<link href="/css/regular.min.css" rel="stylesheet">
<link href="/css/brands.min.css" rel="stylesheet">
<link href="/markdown.css" rel="stylesheet"/>
<link href="/noty.css" rel="stylesheet"/>
<link href="/style.css" rel="stylesheet"/>
<% if (agent === "electron") { %>
  <link href="/electron.css" rel="stylesheet"/>
<% } %>
<style>
html {
  scroll-behavior: smooth;
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.line2 {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: rgba(0,0,100,0.04);
}
.line2 a {
  text-decoration: none;
  color: black;
}
.status {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.status.offline {
  background: silver;
}
.status.online {
  background: yellowgreen;
}
.switch {
  padding: 10px;
  margin: 10px 0;
}
.switch[data-online=true] {
  color: yellowgreen;
}
.button {
  padding: 10px;
}
.on, .off {
  display: flex;
  align-items: center;
}
.btn {
  margin: 5px;
  width: 100px;
  text-align: center;
  padding: 10px;
  background: black;
  color: white;
  text-decoration: none;
  font-weight: normal;
}
.item {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  background: rgba(0,0,0,0.04);
}
.item img {
  width: 100px;
}
.item .title {
  text-decoration: none;
  color: royalblue;
}
.item .col {
  padding: 10px;
}
.item .col > * {
  margin: 5px 0;
}
.item .stat {
  color: rgba(0,0,0,0.8);
  display: flex;
}
.item .stat > * {
  margin-right: 15px;
}
.timestamp {
  color: rgba(0,0,0,0.5);
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.setup-items {
  display: flex;
  justify-content: center;
}
.head {
  padding: 80px;
  text-align: center;
}
.desc {
  padding: 10px 0;
}
.head h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 0;
}
.head h3 i {
  font-size: 80px;
}
body.dark .card {
  color: white;
}
.card {
  padding: 30px;
  display:flex;
  text-decoration: none;
  color: rgba(0,0,0,0.9);
}
.card:hover {
  color: royalblue !important;
}
.card .desc {
  opacity: 0.7;
}
.card h3 {
  margin: 0;
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: lighter;
}
.card .col {
  padding: 0 10px;
  flex-grow: 1;
}
.card i {
  font-size: 50px;
}
body.dark .config {
  color: white;
}
.config {
/*
  background: rgba(0,0,0,0.9);
  */
  color: black;
  padding: 30px;
  text-align: left;
}
.config-header {
}
.config-body {
  padding-top: 20px;
  margin-top: 20px;
}
.config .btn {
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  background: royalblue;
  flex-shrink: 0;
}
.config-row {
  padding: 10px 20px 0 0;
}
.label {
  padding-bottom: 5px;
  font-weight: bold;
}
.config-row input[type=text] {
  padding: 7px;
}
.header-label {
  padding: 0;
  font-size: 50px;
  letter-spacing: -2px;
  font-weight: lighter;
  /*
  text-align: center;
  */
  text-transform: capitalize;
}
.dark .container-row {
  background: rgba(255, 255, 255, 0.04);
}
.container-row {
  background: rgba(0, 0, 100, 0.04);
  box-sizing: border-box;
}
.header-label-sub h1 {
  font-size: 25px;
  letter-spacing: -1px;
  font-weight: lighter;
}
.header-label-sub {
  font-size: 16px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.header-label-sub .s {
  padding: 10px 0;
  opacity: 0.7;
}
</style>
<script src="/hotkeys.min.js"></script>
<script src="/sweetalert2.js"></script>
<script src="/common.js"></script>
<script src="/opener.js"></script>
</head>
<body class='<%=theme%>'>
<header class='navheader grabbable'>
<h1>
<a class='home' href="/"><i class="fa-solid fa-house"></i></a>
<button class='btn2' id='back'><div><i class="fa-solid fa-chevron-left"></i></div><div>Prev</div></button>
<button class='btn2' id='forward'><div><i class="fa-solid fa-chevron-right"></i></div><div>Next</div></button>
<a class='btn2 create-new' id='create-new-folder'><div><i class='fa-solid fa-plus'></i></div><div>New</div></a>
<a class='btn2' id='explore' href="/?mode=explore"><div><i class="fa-solid fa-magnifying-glass"></i></div><div>Discover</div></a>
<a href="/network" class='btn2'><div><i class="fa-solid fa-wifi"></i></div><div>Network</div></a>
<a href="/connect" class='btn2'><div><i class="fa-solid fa-circle-user"></i></div><div>Connect</div></a>
<div class='flexible'></div>
<div class='nav-btns'>
  <a class='btn2' href="<%=portal%>" target="_blank"><div><i class="fa-solid fa-question"></i></div><div>Help</div></a>
  <button class='btn2' id='genlog'><div><i class="fa-solid fa-laptop-code"></i></div><div>Logs</div></button>
  <a id='downloadlogs' download class='hidden btn2' href="/pinokio/logs.zip"><div><i class="fa-solid fa-download"></i></div><div>Download logs</div></a>
  <a class='btn2' href="/?mode=settings"><div><i class="fa-solid fa-gear"></i></div><div>Settings</div></a>
  <% if (agent === "electron") { %>
    <a href="/" target="_blank" class='btn2' features="browser"><div><i class="fa-solid fa-square-up-right"></i></div><div>Open</div></a>
  <% } else { %>
    <a href="/" target="_blank" class='btn2'><div><i class="fa-solid fa-square-up-right"></i></div><div>Open</div></a>
  <% } %>
  <button id='new-window' title='open a new window' class='btn2'><div><i class="fa-solid fa-plus"></i></div><div>Window</div></button>
</div>
</h1>
</h1>
</header>
<main>
  <div class='config'>
    <div class='config-header'>
      <div class='header-label'><i class='fa-solid fa-circle-user'></i> Connect</div>
      <div class='desc'>Authenticate 3rd party services with Pinokio.</div>
    </div>
  </div>
  <div class='container'>
    <div class='container-row'>
    <% items.forEach((item) => { %>
      <a class='card' href="<%=item.url%>">
        <i class="<%=item.icon%>"></i>
        <div class='col'>
          <h3><%=item.title%></h3>
          <div class='desc'><%=item.description%></div>
        </div>
      </a>
    <% }) %>
    </div>
      <!--
      <div class='config-row' id='network_name'>
        <div class='label'>Network Name</div>
        <input id='name' type='text' value="name">
      </div>
      <button class='btn save'>Save</button>
      -->
  </div>
</main>
</body>
</html>
