<html>
<head>
<title>Pinokio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link href="/xterm.min.css" rel="stylesheet" />
<link href="/css/fontawesome.min.css" rel="stylesheet">
<link href="/css/solid.min.css" rel="stylesheet">
<link href="/css/regular.min.css" rel="stylesheet">
<link href="/css/brands.min.css" rel="stylesheet">
<link href="/markdown.css" rel="stylesheet"/>
<link href="/noty.css" rel="stylesheet"/>
<link href="/style.css" rel="stylesheet"/>
<% if (agent === "electron") { %>
  <link href="/electron.css" rel="stylesheet"/>
<% } %>
<style>
main {
  box-sizing: border-box;
  /*
  flex-wrap: wrap;
  */
  max-width: 800px;
  padding: 30px 45px;
  /*
  justify-content: center;
  */
}
.tab-content {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  flex-grow: 1;
  width: 100%;
}
.submenu.tab {
  margin: 10px 0;
}
.tab:hover {
  color: royalblue;
}
.tab {
/*
  min-width: 250px;
  */
  width: 100%;
  text-decoration: none;
  display: flex;
  /*
  flex-direction: column;
  */
  font-size: 14px;
  font-weight: bold;
  color: black;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  gap: 10px;
  /*
  width: 120px;
  */

  /*
  margin-bottom: 10px;
  */
  background: rgba(0,0,0,0.05);
}
body.dark .tab {
  color: white;
  background: rgba(255,255,255,0.03);
}
.tab h2 {
  margin: 0;
  font-size: 18px;
}
.tab .col {
  flex-grow: 1;
  margin-left: 10px;
}
.tab i.img {
  height: 50px;
  width: 50px;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  border-radius: 3px;
}
.tab img {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  background: white;
}
/*
body.dark .tab i {
  background: rgba(0,0,0,0.1);
  color: white;
}
.tab i {
  width: 120px;
  height: 120px;
  font-size: 30px;
  box-sizing: border-box;
  text-align:center;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
.menu-container {
/*
  border: 15px solid rgba(0,0,0,0.04);
  background: white;
  border-radius: 20px;
  */
  margin-bottom: 30px;
  align-items: flex-start;
}
/*
body.dark .menu-container {
  background: rgba(255,255,255,0.03);
}
*/
.menu-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.tab-header {
  margin-bottom: 10px;
  font-weight: bold;
}
.container {
  margin: 0;
  padding: 0 !important;
}
.subtitle {
  font-size: 12px;
  opacity: 0.6;
  padding: 2px 0;
  font-weight: normal;
}
.btns {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-shrink: 0;
  /*
  padding: 0 10px;
  */
}
body.dark .btn {
/*
  background: rgba(255,255,255,0.08);
  */
  background: none;
  color: white;
  border: none;
}
.btn:hover {
  color: royalblue;
}
.btn {
  padding: 2px 10px;
  background: none;
  /*
  background: rgba(0,0,0,0.08);
  */
  color: rgba(0,0,0,0.7);
  /*
  border: 1px solid rgba(0,0,0,0.4);
  */
  /*
  border-radius: 30px;
  */
  /*
  background: rgba(0,0,0,0.8);
  */
}
.spec {
  display: none;
  width: 100%;
  padding-bottom: 30px;
}
.spec .explain {
  display: flex;
  flex-direction: column;
}
.spec .explain h3 {
  margin: 0 0 10px;
}
body.dark .spec .explain {
  border-left: 5px solid rgba(255,255,255,0.04);
}
.spec .explain {
  padding: 15px;
  border-left: 5px solid rgba(0,0,0,0.04);
  background: rgba(0,0,0,0.02);
  margin: 20px 0;
}
.spec .explain ol {
  margin: 0;
  padding-inline-start: 20px;
}
.spec .explain li {
  padding: 5px 0;
}
.spec textarea {
  border: none;
  padding: 10px;
  margin: 5px 0 0 20px;
  box-sizing: border-box;
}
body.dark .btn.run-btn {
  background: black;
}
.btn.run-btn {
  flex-grow: 1;
  text-align: center;
  background: black;
  width: 50px;
  padding: 10px;
  border-radius: 0;
  /*
  background: royalblue !important;
  */
}
.tab-header h3 {
  margin: 0;
  font-size: 16px;
  text-transform: capitalize;
}
.tab-header h3 i {
}
header {
  padding: 20px 0;
  display: flex;
  gap: 10px;
  position: relative;
  align-items: center;
}
header h1 {
  font-size: 40px;
  line-height: 40px;
}
.pulling {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pulling i {
/*
  font-size: 20px;
  */
}
.pulling .loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
h4 {
  margin: 0 0 5px;
}
body.dark .btn.file-open {
  background: rgba(255,255,255,0.1) !important;
}
.btn.file-open {
  background: black;
  color: white;
}
body.dark #update-spec {
  background: rgba(255,255,255,0.1) !important;
  color: white;
}
#update-spec {
  border: none;
  padding: 10px;
  margin: 10px 0 0 20px;
  background: rgba(0,0,0,0.8);
  color: white;
}
</style>
<script src="/hotkeys.min.js"></script>
<script src="/sweetalert2.js"></script>
<script src="/common.js"></script>
<script src="/opener.js"></script>
<script src="/nav.js"></script>
</head>
<body class='<%=theme%>' data-agent="<%=agent%>">
<main>
<form class='search'>
  <input type='search' class="flexible" placeholder='Filter tools'>
</form>
<header>
  <h1>Build</h1>
  <div class='flexible'></div>
  <a class='btn'  href="https://github.com/pinokiocomputer/code/issues" target="_blank"><i class="fa-solid fa-up-right-from-square"></i> Request a tool</a>
  <a class='btn' id='git-pull'><i class="fa-solid fa-rotate"></i> Check for new tools</a>
  <div class='pulling hidden'>
    <div class='loading'>
      <i class="fa-solid fa-circle-notch fa-spin"></i> refreshing...
    </div>
  </div>
</header>
<div class='spec'>
  <div class='explain'>
    <h3><i class="fa-regular fa-circle-check"></i> TODO</h3>
    <ol>
      <li><strong>Build manually:</strong> Open the project files and start building. <a class='btn file-open' data-filepath="<%=filepath%>"><i class="fa-solid fa-folder-open"></i> open project folder</a></li>
      <li><strong>Build with AI:</strong> Click any of the below AI tools to instantly start building with AI.</li>
    <!--
      <li><strong>Build with AI:</strong> Click any of the AI tools below to start building with AI. The AI will automatically build based on the spec:</li>
      -->
    </ol>
    <!--
    <textarea><%=spec%></textarea>
    <button id='update-spec'>Update</button>
    -->
  </div>
</div>

  <% index = 0 %>
  <% dynamic.forEach((item) => { %>
    <% if (item.menu) { %>
      <div class='menu-container'>
        <div class='tab-header'>
          <h3><i class='<%=item.icon%>'></i> <%=item.title%></h3>
          <% if (item.subtitle) { %>
          <div class='subtitle'><%=item.subtitle%></div>
          <% } %>
        </div>
        <div class='tab-content'>
          <% item.menu.forEach((i) => { %>
            <a href="<%=i.href%>" class='tab' data-index="<%=index++%>" data-target="@<%=i.href.split("?")[0].replace("/run", "")%>">
              <% if (i.image) { %>
                <img src="<%=i.image%>">
              <% } else if (i.icon) { %>
                <i class="img <%=i.icon%>"></i>
              <% } %>
              <h2><%=i.title%></h1>
              <% if (i.subtitle) { %>
                <div class='subtitle'><%=i.subtitle%></div>
              <% } %>
              <% if (i.link) { %>
              <div target="_blank" data-href="<%=i.link%>"><i class="fa-solid fa-circle-info"></i></div>
              <% } %>
              <div class='flexible'></div>
              <div class='btn'>
                <i class="fa-solid fa-angle-right"></i>
              </div>
            </a>
          <% }) %>
        </div>
      </div>
    <% } else { %>
      <div class='tab' data-index="<%=index++%>">
        <% if (item.image) { %>
          <img src="<%=item.image%>">
        <% } else if (item.icon) { %>
          <i class="img <%=item.icon%>"></i>
        <% } %>
        <div class='col'>
          <h2><%=item.title%></h1>
          <% if (item.subtitle) { %>
            <div class='subtitle'><%=item.subtitle%></div>
          <% } %>
          <div class='btns'>
            <% if (item.link) { %>
            <a class='btn' target="_blank" href="<%=item.link%>"><i class="fa-solid fa-circle-info"></i></a>
            <% } %>
            <a class='run-btn btn' href="<%=item.href%>"><i class="fa-solid <%=item.type === "Start" ? 'fa-play' : 'fa-rocket'%>"></i> <%=item.type%></a>
          </div>
        </div>
      </div>
    <% } %>
  <% }) %>
  <% if (retry) { %>
    <div class='requirements'>
      <div class='content'>
        <div class='loading'>
          <i class="fa-solid fa-circle-notch fa-spin"></i>
        </div>
      </div>
    </div>
  <% } %>
</main>
<script>
<% if (retry) { %>
setTimeout(() => {
  location.href = location.href
}, 2000)
<% } %>
document.querySelector("#git-pull").addEventListener("click", (e) => {
  e.preventDefault()
  e.stopPropagation()
  document.querySelector(".pulling").classList.remove("hidden")
  document.querySelector("#git-pull").classList.add("hidden")
  fetch("/plugin/update", {
    method: "POST"
  }).then((res) => {
    return res.json()
  }).then((res) => {
    if (res.success) {
      location.href = location.href
    } else if(res.error) {
      document.querySelector("#git-pull").classList.remove("hidden")
      alert(res.error)
    }
  })
})
/*
const resize = (textarea) => {
  textarea.style.height = "";
  textarea.style.height = textarea.scrollHeight + "px";
}
document.querySelector(".spec textarea").addEventListener("input", (e) => {
  resize(e.target)
})
resize(document.querySelector(".spec textarea"))
document.querySelector("#update-spec").addEventListener("click", (e) => {
  e.preventDefault()
  e.stopPropagation()
  let filepath = document.querySelector(".file-open").getAttribute('data-filepath')
  fetch("/plugin/update_spec", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({
      spec: document.querySelector(".spec textarea").value || "",
      filepath: filepath
    })
  }).then((res) => {
    return res.json()
  }).then((res) => {
    if (res.success) {
      location.href = location.href
    } else if(res.error) {
      alert(res.error)
    }
  })
})
*/
let list = []
document.querySelectorAll(".tab").forEach((el, index) => {
  list.push({
    index: parseInt(el.getAttribute("data-index")),
    text: el.textContent,
  })
})
const search = (items, value) => {
  let filtered = []
  for(let i=0; i<items.length; i++) {
    let item = items[i]
    let re = new RegExp(value, "i")
    if (re.test(item.text)) {
      filtered.push({ item })
    }
  }
  return filtered
}

let selectedIndex = -1
let selectedBtnIndex = 0
let filteredCount = list.length
let filteredBtnsCount = 0

const renderSearch = () => {
  let target = document.querySelector("form input[type=search]")
  let result
  if (target.value.trim().length === 0) {
    result = list.map((i, index) => {
      return { item: i }
    })
  } else {
    result = search(list, target.value)
  }
  let all = document.querySelectorAll(".tab")
  for(let el of all) {
    el.classList.add("hidden")
    el.classList.remove("selected")
  }

  filteredCount = result.length
  for(let i=0; i<result.length; i++) {
    let selector = result[i]
    let el = document.querySelector(".tab[data-index='" + selector.item.index + "']")
    el.classList.remove("hidden")
    if (i === selectedIndex) {
      el.classList.add("selected")
    } else {
      el.classList.remove("selected")
    }
  }
}
renderSearch()
document.querySelector("form input[type=search]").addEventListener("input", (e) => {
  selectedIndex = 0
  selectedBtnIndex = 0
  renderSearch()
})
document.querySelector("form input[type=search]").focus()
document.addEventListener("click", (e) => {
  if (e.target.classList.contains("tab")) {
    e.preventDefault()
    e.stopPropagation()
    let href = e.target.href
    window.parent.postMessage({
      launch: {
        name: e.target.getAttribute("data-target"),
        href
      }
    }, "*")
  }
})
</script>
</body>
</html>
