<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/xterm.min.css" rel="stylesheet" />
<link href="/css/fontawesome.min.css" rel="stylesheet">
<link href="/css/solid.min.css" rel="stylesheet">
<link href="/css/regular.min.css" rel="stylesheet">
<link href="/css/brands.min.css" rel="stylesheet">
<link href="/markdown.css" rel="stylesheet"/>
<link href="/noty.css" rel="stylesheet"/>
<link href="/style.css" rel="stylesheet"/>
<% if (agent === "electron") { %>
  <link href="/electron.css" rel="stylesheet"/>
<% } %>
<style>
html {
  scroll-behavior: smooth;
}
body.frozen {
  overflow: auto !important;
}

.line2 {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: rgba(0,0,100,0.04);
}
.line2 a {
  text-decoration: none;
  color: black;
}
.status {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.status.offline {
  background: silver;
}
.status.online {
  background: yellowgreen;
}
.switch {
  padding: 10px;
  margin: 10px 0;
}
.switch[data-online=true] {
  color: yellowgreen;
}
.button {
  padding: 10px;
}
.on, .off {
  display: flex;
  align-items: center;
}
.btn {
  margin-right: 5px;
  font-weight: normal;
}
.item {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}
.item img {
  width: 100px;
}
.item .title {
  text-decoration: none;
  color: rgba(127, 91, 243, 0.9);
}
.item .col {
  padding: 10px;
}
.item .col > * {
  margin: 5px 0;
}
.item .stat {
  color: rgba(0,0,0,0.8);
  display: flex;
}
.item .stat > * {
  margin-right: 15px;
}
.timestamp {
  color: rgba(0,0,0,0.5);
}
/*
@media only screen and (max-width: 800px) {
  body {
    display: flex !important;
    flex-direction: row !important;
  }
}
*/
</style>
<script src="/popper.min.js"></script>
<script src="/tippy-bundle.umd.min.js"></script>
<script src="/hotkeys.min.js"></script>
<script src="/sweetalert2.js"></script>
<script src="/noty.js"></script>
<script src="/notyq.js"></script>
<script src="/xterm.js"></script>
<script src="/xterm-addon-fit.js"></script>
<script src="/xterm-addon-web-links.js"></script>
<script src="/xterm-theme.js"></script>
<script src="/sweetalert2.js"></script>
<script src="/Socket.js"></script>
<script src="/install.js"></script>
<script src="/timeago.min.js"></script>
<script src="/common.js"></script>
<script src="/report.js"></script>
</head>
<% if (install_required) { %>
<body class='frozen <%=theme%>' data-agent="<%=agent%>">
<% } else { %>
<body class='<%=theme%>' data-agent="<%=agent%>">
<% } %>
<header class='grabbable'>
<h1>
<a class='home' href="/home"><img class='icon' src="/pinokio-black.png"></a>
<button class='btn2' id='minimize-header' data-tippy-content="fullscreen" title='fullscreen'>
  <div><i class="fa-solid fa-expand"></i></div>
</button>
<button class='btn2' id='back' data-tippy-content="back"><div><i class="fa-solid fa-chevron-left"></i></div></button>
<button class='btn2' id='forward' data-tippy-content="forward"><div><i class="fa-solid fa-chevron-right"></i></div></button>
<button class='btn2' id='refresh-page' data-tippy-content="refresh"><div><i class="fa-solid fa-rotate-right"></i></div></button>
<button class='btn2' id='screenshot' data-tippy-content="screen capture"><i class="fa-solid fa-camera"></i></button>
<button class='btn2' id='inspector' data-tippy-content="X-ray mode"><i class="fa-solid fa-eye"></i></button>
<div class='flexible'></div>
<a class='btn2' href="/columns" data-tippy-content="split into 2 columns">
  <div><i class="fa-solid fa-table-columns"></i></div>
</a>
<a class='btn2' href="/rows" data-tippy-content="split into 2 rows">
  <div><i class="fa-solid fa-table-columns fa-rotate-270"></i></div>
</a>
<button class='btn2' id='new-window' data-tippy-content="open a new window" title='open a new window' data-agent="<%=agent%>">
  <div><i class="fa-solid fa-plus"></i></div>
</button>
<button class='btn2 hidden' id='close-window' data-tippy-content='close this section'>
  <div><i class="fa-solid fa-xmark"></i></div>
</button>
</h1>
</header>
<% if (requirements_pending) { %>
  <div class='requirements'>
    <div class='content'>
      <div class='loading'>
        <i class="fa-solid fa-circle-notch fa-spin"></i>
      </div>
    </div>
  </div>
<% } else { %>
  <% if (install_required) { %>
    <div class='requirements'>
      <div class='content'>
        <div class='title'><i class="fa-solid fa-circle-exclamation"></i> Installation required</div>
        <div class='btn-group'>
          <% requirements.map((r) => { %>
            <div class='requirement-item'>
              <% if (r.installed) { %>
                <div class='name'><%=r.name%></div>
                <div class='flexible'></div>
                <div class='label'>Installed</div>
              <% } else { %>
                <div class='name highlighted'><%=r.name%></div>
                <div class='flexible'></div>
                <div class='label highlighted'>Not Installed</div>
              <% } %>
            </div>
          <% }) %>
        </div>
        <form id='install-form' method="post" action="/pinokio/install">
          <input type='hidden' name="requirements" value="<%=JSON.stringify(requirements)%>">
          <input type='hidden' name='callback' value="<%=current%>">
          <button class='btn'>Install</button>
        </form>
        <div class='item'>
          <div class='d'>Not working? <a id='del-bin'>Try a fresh install</a></div>
          <div class='reset-bin-loading hidden'>
            <i class="fa-solid fa-circle-notch fa-spin"></i> Stand by. Do not close this window..
          </div>
        </div>
      </div>
    </div>
  <% } else { %>
    <main>
      <div id='terminal'></div>
    </main>
  <% } %>
<% } %>
<script>
document.addEventListener("DOMContentLoaded", async () => {
  <% if (error) { %>
    document.querySelector(".requirements .content").innerHTML = '<div class="loading"><i class="fa-solid fa-circle-exclamation"></i> <%=error%></div>'
  <% } %>
  <% if (requirements_pending) { %>
    await new Promise((resolve, reject) => {
      let interval = setInterval(() => {
        fetch("/pinokio/requirements_ready").then((res) => {
          return res.json()
        }).then((res) => {
          console.log(res)
          if (res.error) {
            alert(res.error)
            clearInterval(interval)
          } else if (!res.requirements_pending) {
            clearInterval(interval)
            resolve()
          }
        })
      }, 500)
    })
    location.href = location.href
  <% } else { %>
    <% if (!install_required) { %>
	      let term
	      const n = new N()
	      let socket = new Socket()
	      let url = "<%=query.uri%>"
	      let params = new URLSearchParams(location.search)
	      let entries = [...params.entries()]
	      let options;
	      if (entries.length > 0) {
	        options = {}
	        for(const [key, value] of entries) {
	          options[key] = value;
	        }
	      }
	    //  let name = "0x" + url.split("").map(c => c.charCodeAt(0).toString(16).padStart(2, "0")).join("");
	      let name = await installname(url, null, options)
	      if (name) {
	        if (!term) {
	          <% if (theme === "dark") { %>
	          term = await createTerm(xtermTheme.FrontEndDelight)
	          <% } else { %>
	          term = await createTerm(xtermTheme.Tomorrow)
	          <% } %>
	        }
	        await install(name, url, term, socket, options)
	      }
	    <% } %>
  <% } %>
  if (document.querySelector("#del-bin")) {
    document.querySelector("#del-bin").addEventListener("click", async (e) => {
      console.log("del-bin")
      let proceed = confirm("Are you sure you wish to delete the bin folder?")
      if (proceed) {
        document.querySelector(".reset-bin-loading").classList.remove("hidden")
        document.querySelector("#del-bin").classList.add("hidden")
        let res = await fetch("/pinokio/delete", {
          method: "post",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ type: "bin" })
        }).then((res) => {
          return res.json()
        })
        console.log(res)
        document.querySelector(".reset-bin-loading").classList.add("hidden")
        if (res.error) {
          alert(res.error)
        } else {
          //location.href = location.href
          document.querySelector("#install-form").submit()
        }
      }
    })
  }
})
</script>
</body>
</html>
