<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
body {
}
.line2 {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: rgba(0,0,100,0.04);
}
.line2 a {
  text-decoration: none;
  color: black;
}
.status {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.status.offline {
  background: silver;
}
.status.online {
  background: yellowgreen;
}
.switch {
  padding: 10px;
  margin: 10px 0;
}
.switch[data-online=true] {
  color: yellowgreen;
}
.button {
  padding: 10px;
}
.on, .off {
  display: flex;
  align-items: center;
}
.btn {
  margin-right: 5px;
  font-weight: normal;
}
.item {
  display: flex;
  align-items: flex-start;
  background: rgba(255,255,255,1);
  border-bottom: 1px solid rgba(0,0,0,0.07);
  padding: 10px;
}
.item img {
  width: 100px;
}
.item .title {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: royalblue;
}
.item .col {
  padding: 0 10px;
}
.item .col > * {
  margin: 5px 0;
}
.item .stat {
  color: rgba(0,0,0,0.8);
  display: flex;
}
.item .stat > * {
  margin-right: 15px;
}
.timestamp {
  color: rgba(0,0,0,0.5);
}
.selectors {
  padding: 10px 0 0;
  display: flex;
}
.selectors .selector.selected {
/*
  border: 3px solid black;
  */
  background: royalblue;
}
.selectors .selector {
  color: white;
  background: black;
  /*
  border: 3px solid transparent;
  */
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
body main {
  flex-grow: 1;
}
body main iframe {
  border: none;
  height: 100%;
  width: 100%;
}
</style>
</head>
<body class='<%=theme%>'>
<!--
<nav>
  <a class='logo' href="/">dal</a>
</nav>
  -->
<header>
<h1>
<% paths.forEach((path) => { %>
  <% if (path.action) { %>
    <a class='path nav-button' id="<%=path.id%>" onclick="<%=path.action%>"><%-path.name%></a>
  <% } else if (path.path) { %>
    <a class='path' href="<%=path.path%>"><%-path.name%></a>
  <% } %>
<% }) %>
<form class='search'>
  <% if (display.includes("form")) { %>
  <input type='search' placeholder='enter git url'>
  <button class='btn clone'><i class="fa-solid fa-download"></i> Download</button>
  <% } %>
</form>
<button id='new-window' title='open a new window'><i class="fa-solid fa-plus"></i></button>
</h1>
</header>
<main>
<% if (theme === "dark") { %>
  <iframe src="https://pinokio.computer/dark"></iframe>
<% } else { %>
  <iframe src="https://pinokio.computer/app"></iframe>
<% } %>
</main>
<link href="/xterm.min.css" rel="stylesheet" />
<link href="/css/fontawesome.min.css" rel="stylesheet">
<link href="/css/solid.min.css" rel="stylesheet">
<link href="/css/regular.min.css" rel="stylesheet">
<link href="/css/brands.min.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet"/>
<% if (agent === "electron") { %>
  <link href="/electron.css" rel="stylesheet"/>
<% } %>
<script>
document.querySelector("form").addEventListener("submit", (e) => {
  e.preventDefault()
  e.stopPropagation()
  let url = e.target.querySelector("input[type=search]").value
  if (url && url.length > 0) {
    location.href = `/pinokio/download?uri=${url}`
  }
})
</script>
</body>
</html>
