<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link href="/css/fontawesome.min.css" rel="stylesheet">
<link href="/css/solid.min.css" rel="stylesheet">
<link href="/css/regular.min.css" rel="stylesheet">
<link href="/css/brands.min.css" rel="stylesheet">
<link href="/markdown.css" rel="stylesheet"/>
<link href="/noty.css" rel="stylesheet"/>
<link href="/style.css" rel="stylesheet"/>
<% if (agent === "electron") { %>
  <link href="/electron.css" rel="stylesheet"/>
<% } %>
<script src="/hotkeys.min.js"></script>
<script src="/sweetalert2.js"></script>
<script src="/noty.js"></script>
<script src="/notyq.js"></script>
<script src="/xterm.js"></script>
<script src="/xterm-addon-fit.js"></script>
<script src="/xterm-addon-web-links.js"></script>
<script src="/xterm-theme.js"></script>
<script src="/sweetalert2.js"></script>
<script src="/install.js"></script>
<script src="/common.js"></script>
<script src="/opener.js"></script>
<script src="/nav.js"></script>
<style>
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
main iframe {
  width: 100%;
  height: 100%;
  border: none;
}
@media only screen and (max-width: 768px) {
  body {
    flex-direction: row;
    align-items: stretch;
  }
  header {
    display: flex;
    flex-direction: column;
    width: 55px;
    min-width: 55px;
    max-width: 55px;
    padding: 7px 0;
    box-sizing: border-box;
    overflow: auto;
    align-self: stretch;
  }
  header h1 {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: auto;
    overflow: auto;
  }
  header .flexible {
    display: none;
  }
  main {
    flex-grow: 1;
    flex-basis: auto;
    min-width: 0;
    display: flex;
    flex-direction: column;
  }
}
</style>
</head>
<body class='columns <%=theme%>' data-agent="<%=agent%>">
<header>
<h1>
<% paths.forEach((path) => { %>
  <% if (path.action) { %>
    <a class='path nav-button' id="<%=path.id%>" onclick="<%=path.action%>"><%-path.name%></a>
  <% } else if (path.path) { %>
    <a class='path' href="<%=path.path%>"><%-path.name%></a>
  <% } %>
<% }) %>
<button class='btn2' id='minimize-header' data-tippy-content="fullscreen" title='fullscreen'>
  <div><i class="fa-solid fa-expand"></i></div>
</button>
<button class='btn2' id='screenshot' data-tippy-content="screen capture"><i class="fa-solid fa-camera"></i></button>
<button class='btn2' id='inspector' data-tippy-content="X-ray mode"><i class="fa-solid fa-eye"></i></button>
<div class='flexible'></div>
<a class='btn2' href="/columns" data-tippy-content="split into 2 columns">
  <div><i class="fa-solid fa-table-columns"></i></div>
</a>
<a class='btn2' href="/rows" data-tippy-content="split into 2 rows">
  <div><i class="fa-solid fa-table-columns fa-rotate-270"></i></div>
</a>
<button class='btn2' id='new-window' data-tippy-content="open a new window" title='open a new window' data-agent="<%=agent%>">
  <div><i class="fa-solid fa-plus"></i></div>
</button>

<button class='btn2 hidden' id='close-window' data-tippy-content='close this section'>
  <div><i class="fa-solid fa-xmark"></i></div>
</button>
</h1>
<% if (paths.length > 3) { %>
<a class='gitremote' data-filepath="<%=filepath%>"><%=filepath%></a>
<% } %>
</header>
<main>
<iframe src="<%=rawpath%>" allow="fullscreen *;" allowfullscreen></iframe>
</main>
</body>
</html>
