<html>
<head>
<title>Pinokio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link href="/xterm.min.css" rel="stylesheet" />
<link href="/css/fontawesome.min.css" rel="stylesheet">
<link href="/css/solid.min.css" rel="stylesheet">
<link href="/css/regular.min.css" rel="stylesheet">
<link href="/css/brands.min.css" rel="stylesheet">
<link href="/markdown.css" rel="stylesheet"/>
<link href="/noty.css" rel="stylesheet"/>
<link href="/filepond.min.css" rel="stylesheet" />
<link href="/filepond-plugin-image-preview.min.css" rel="stylesheet" />
<link href="/filepond-plugin-image-edit.min.css" rel="stylesheet" />
<link href="/style.css" rel="stylesheet"/>
<% if (agent === "electron") { %>
  <link href="/electron.css" rel="stylesheet"/>
<% } %>
<style>
.line2 {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: rgba(0,0,100,0.04);
}
.line2 a {
  text-decoration: none;
  color: black;
}
.status {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.status.offline {
  background: silver;
}
.status.online {
  background: yellowgreen;
}
.switch {
  padding: 10px;
  margin: 10px 0;
}
.switch[data-online=true] {
  color: yellowgreen;
}
.button {
  padding: 10px;
}
.on, .off {
  display: flex;
  align-items: center;
}
header .runner {
  padding: 10px 0 0;
}
.proxy {
  padding: 0 10px;
  text-align: right;
}
.proxy a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 2px;
  background: black;
  color: white;
}
.browser-options-btns {
  display: flex;
  padding-top: 5px;
}
.browser-options-row {
/*
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  */
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.browser-options-row h3 {
  margin: 0;
  font-size: 14px;
  margin-bottom: 3px;
}
.browser-options-row .btn.disabled {
  opacity: 0.7;
}
.browser-options-row .btn {
  font-weight: bold;
  width: 100px;
  text-align: center;
  display: block;
  margin-right: 10px;
  flex-shrink: 0;
  padding: 5px;
}
.badge {
  font-size: 12px;
  padding: 5px 10px;
  background: rgba(0,0,100,0.1);
  border-radius: 5px;
  display: inline-block;
  margin-top: 5px;
}
a.badge {
  color: royalblue;
  text-decoration: none;
  cursor: pointer;
}
.badge a {
  color: royalblue;
  text-decoration: none;
}
body.dark .btn {
  color: white;
  background: rgba(255,255,255,0.05) !important;
}
body.dark .badge {
  background: rgba(255,255,255,0.1);
}
/*
body.dark .browser-options-row {
  border-top: 1px solid rgba(255,255,255,0.05);
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
*/
body.dark .context-menu-wrapper {
  background: rgba(0,0,0,0.9);
  color: white;
}
.context-menu-wrapper {
  background: rgba(0,0,0,0.06) !important;
}
.context-menu {
 /* 
  max-height: 10000px;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
  */
  display: flex;
  margin: 0 5px 0 0;
}
.context-menu .btn:hover {
  color: cornflowerblue !important;
}
.context-menu .btn {
  background: none !important;
  border: none !important;
  display: block;
  width: 80px;
  padding: 6px 10px !important;
  text-align: left;
  color: black;
}
.blank {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
body.dark .section-header {
/*
  border-bottom: 1px solid rgba(255,255,255,0.07);
  */
}
.section-header {
/*
  border-bottom: 1px solid rgba(0, 0, 0,0.04);
  */
  font-weight: normal;
  font-size: 14px;
  padding: 15px 5px;
  /*
  margin: 0 0 15px;
  */
}
.section-header h2 {
  font-size: 20px;
}
.section-header .section {
  padding: 0;
}
.section-header .section div {
  font-weight: normal;
  opacity: 0.6;
  font-size: 14px;
}
.section-header h3 {
  display: flex;
  margin: 0;
}
.section-header .col {
  padding-left: 10px;
  flex-grow: 1;
  min-width: 0;
  word-wrap: break-word;
}
body.dark .btn {
  background: rgba(255,255,255,0.05) !important;
}
.app-btns .btn {
  border-radius: 4px;
  padding: 8px 10px;
  width: 70px;
  /*
  padding: 6px 10px;
  */
  text-align: center;
}
body.dark .context-menu .btn {
  color: white;
}
.context-menu.collapsed {
/*
  max-height: 0; 
  */
  display: none;
}
body.dark .open-menu, body.dark .browse {
  border: none !important;
  /*
  background: black !important;
  */
  color: white !important;
}
.open-menu:hover, .browse:hover, body.dark .open-menu:hover, body.dark .browse:hover {
  color: royalblue !important;
}
.open-menu, .browse {
  width: 80px;
  border-radius: 0 !important;
  background: rgba(0,0,0,0.04) !important;
  color: black !important;
  /*
  border: 1px solid rgba(0, 0, 0, 0.3);
  */
}
.open-menu.selected {
  border: none !important;
  /*
  background: none !important;
  */
}
.open-menu.selected span {
  display: none;
}
.sections {
  display: flex;
}
.section {
  display: block;
}
.section h2 {
  margin: 0;
}
.line.align-top h3 .col .btn {
  box-sizing: border-box;
  margin-top: 5px;
  width: 100%;
}
.desc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  padding: 5px 0;
}
.section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three equal columns */
  gap: 1rem; /* Optional spacing between columns */
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three equal columns */
  gap: 1rem; /* Optional spacing between columns */
}
.grid-1 {
  padding: 10px;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 1rem; /* Optional spacing between columns */
  padding: 10px;
}
.section-header .grid-1, .section-header .grid-2, .section-header .grid-3 {
  background: none !important;
  padding: 0 !important;
}
.grid-1, .grid-2, .grid-3 {
  background: rgba(0,0,0,0.04);
  margin-top: 5px;
}
body.dark .grid-1, body.dark .grid-2, body.dark .grid-3 {
  background: rgba(255,255,255,0.03);
  margin-top: 5px;
}
main {
  display: flex;
}
aside {
  width: 200px;
  display: block;
  flex-shrink: 0;
}
aside .tab i {
  width: 20px;
  text-align: center;
}
body.dark aside .tab {
  color: white;
}
body.dark aside .tab:hover, aside .tab:hover {
  color: royalblue !important;
  opacity: 1;
}
aside .tab {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 12px;
  opacity: 0.5;
  border-left: 10px solid transparent;
}
body.dark aside .tab.selected {
  color: white;
}
aside .selected {
  font-weight: bold;
  opacity: 1;
}
/*
body.dark aside .selected {
  border-left: 10px solid white;
}
aside .selected {
  border-left: 10px solid black;
  font-weight: bold;
  opacity: 1;
}
*/
.submenu .tab {
  padding: 0;
}
body.dark .net:hover, .net:hover {
  color: royalblue;
}
body.dark .net {
/*
  border-left: 3px solid white;
  */
  color: rgba(255,255,255,0.7);
}
.net {
  color: rgba(0,0,0,0.7);
  width: auto;
  margin: 3px 0;
  /*
  padding-left: 5px;
  border-left: 3px solid black;
  */
  font-size: 12px;
  text-decoration: none;
  display: block;
  background: none;
}
.net .mark {
  background: rgba(0,0,0,0.9);
  border-radius: 3px;
  color: white;
  width: 40px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  padding: 2px 8px;
  font-size: 12px;
}
body.dark .net .mark {
  background: white;
  color: black;
}
.placeholder-icon {
  font-size: 40px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.launch-btns .btn {
  text-transform: capitalize;
}
.launch-btns {
  display: flex;
}
.launch-btns .btn.launch{
  width: 150px !important;
  text-align: center !important;
}
.installed-apps .title i {
  color: silver !important;
}
@media only screen and (max-width: 480px) {
  .btn2 {
    padding: 5px;
    font-size: 11px;
  }
  .nav-btns {
    flex-grow: 1;
    justify-content: center;
    padding: 0;
  }
}
</style>
<script src="/hotkeys.min.js"></script>
<script src="/sweetalert2.js"></script>
<script src="/noty.js"></script>
<script src="/notyq.js"></script>
<script src="/xterm.js"></script>
<script src="/xterm-addon-fit.js"></script>
<script src="/xterm-addon-web-links.js"></script>
<script src="/xterm-theme.js"></script>
<script src="/Socket.js"></script>
<script src="/install.js"></script>
<script src="/common.js"></script>
<script src="/opener.js"></script>
<script src="/nav.js"></script>
<script src="/fuse.js"></script>
<script src="/report.js"></script>
<script src="/filepond-plugin-file-validate-type.min.js"></script>
<script src="/filepond-plugin-image-exif-orientation.min.js"></script>
<script src="/filepond-plugin-image-preview.min.js"></script>
<script src="/filepond-plugin-image-edit.min.js"></script>
<script src="/filepond-plugin-image-crop.min.js"></script>
<script src="/filepond-plugin-image-resize.min.js"></script>
<script src="/filepond-plugin-image-transform.min.js"></script>
<script src="/filepond.min.js"></script>
<script src="/fscreator.js"></script>
<script src="/fseditor.js"></script>
</head>
<body class='<%=theme%>' data-agent="<%=agent%>">
<% if (error) { %>
<nav class='error-message'>
  <div><%=error%></div>
  <div class='flexible'></div>
  <a class='btn' target="_blank" href="<%=install%>">Download</a>
</nav>
<% } %>
<header class='navheader grabbable'>
  <h1>
    <a class='home' href="/"><img class='icon' src="/pinokio-black.png"></a>
    <button class='btn2' id='back'><div><i class="fa-solid fa-chevron-left"></i></div><div>Prev</div></button>
    <button class='btn2' id='forward'><div><i class="fa-solid fa-chevron-right"></i></div><div>Next</div></button>
    <button class='btn2' id='refresh-page'><div><i class="fa-solid fa-rotate-right"></i></div><div>Refresh</div></button>
    <div class='url-bar'>
      <% if (current_urls.https) { %>
        <a class='https-url' target="_blank" href="<%=current_urls.https%>"><i class="fa-solid fa-square-arrow-up-right"></i> <%=current_urls.https%></a>
      <% } %>
      <% if (current_urls.http) { %>
        <a class='http-url' target="_blank" href="<%=current_urls.http%>"><i class="fa-solid fa-square-arrow-up-right"></i> <%=current_urls.http%></a>
      <% } %>
    </div>
    <div class='nav-btns'>
      <a class='btn2' href="<%=portal%>" target="_blank"><div><i class="fa-solid fa-question"></i></div><div>Help</div></a>
      <button class='btn2' id='genlog'><div><i class="fa-solid fa-laptop-code"></i></div><div>Logs</div></button>
      <a id='downloadlogs' download class='hidden btn2' href="/pinokio/logs.zip"><div><i class="fa-solid fa-download"></i></div><div>Download logs</div></a>
      <a class='btn2' href="/?mode=settings"><div><i class="fa-solid fa-gear"></i></div><div>Settings</div></a>
      <button id='new-window' title='open a new window' class='btn2' data-agent="<%=agent%>"><div><i class="fa-solid fa-plus"></i></div><div>Window</div></button>
    </div>
  </h1>
</header>
<main>
<div id='terminal' class='hidden'></div>
<aside>
  <div class='btn-tab'>
    <a href="/init" class='btn'><i class="fa-solid fa-plus"></i> Create</a>
    <a class='btn' id='explore' href="/?mode=explore"><i class="fa-solid fa-globe"></i> Discover</a>
  </div>
  <a href="/" class='tab'><i class='fas fa-laptop-code'></i> This machine</a>
  <a href="/network" class='tab'><i class="fa-solid fa-wifi"></i> Local network</a>
  <% if (list.length > 0) { %>
    <% let brands = { win32: "windows", darwin: "apple", linux: "Linux" } %>
    <% list.forEach(({ host, name, platform, processes }, index) => { %>
      <% if (selected_name === name) { %>
        <a href="/net/<%=name%>" class='submenu tab selected'><i class="fa-brands fa-<%=brands[platform]%>"></i> <%=name%> (<%=current_host === host ? 'this machine' : host%>)</a>
      <% } else { %>
        <a href="/net/<%=name%>" class='submenu tab'><i class="fa-brands fa-<%=brands[platform]%>"></i> <%=name%> (<%=current_host === host ? 'this machine' : host%>)</a>
      <% } %>
    <% }) %>
  <% } %>
  <a href="/connect" class='tab'><i class="fa-solid fa-plug"></i> Login</a>
</aside>
<div class='container'>
  <form class='search'>
    <!--
    <div class='app-btns'>
      <a class='btn create-new' href="/init"><i class="fa-solid fa-plus"></i> Build</a>
      <a class='btn' id='explore' href="/?mode=explore"><i class="fa-solid fa-magnifying-glass"></i> Discover</a>
    </div>
    -->
    <input type='search' class="flexible" placeholder='Search apps'>
  </form>
  <div class='running-apps'>
    <% if (current_host === host) { %>
      <div class='section-header'>
        <h3>
          <div class='blank'></div>
          <div class='col'>
            <div class='grid-3'>
              <div class='section'>
                <h2><i class='fas fa-laptop-code'></i> Local</h2>
                <div>accessible from this machine</div>
              </div>
              <div class='section'>
                <h2><i class="fa-solid fa-wifi"></i> Network</h2><div>accessible from any machine on the local network</div>
              </div>
              <div class='section'>
                <h2><i class="fa-solid fa-podcast"></i> Peer</h2><div>accessible from any pinokio peer on the local network <a class='explain' data-type='peer'>How to start a peer</a></div>
              </div>
            </div>
          </div>
        </h3>
      </div>
      <% processes.forEach((item, index) => { %>
        <div class='index line align-top' data-index="<%=index%>" data-name="<%=item.name%>" data-title="<%=item.name%>" data-description="<%=item.internal_router.join(' ')%> <%=item.port%>">
          <h3>
            <div class='item-icon'>
              <% if (item.icon) { %>
                <img src="<%=item.icon%>">
              <% } else { %>
                <div class='placeholder-icon'>
                  <i class="fa-solid fa-database"></i>
                </div>
              <% } %>
            </div>
            <div class='col'>
              <div class='title'><i class="fa-solid fa-circle"></i><span><%=item.title || item.name%></span></div>
              <div class='grid-3'>
                <div class='section'>
                  <% item.internal_router.forEach((domain) => { %>
                    <a class='net' target="_blank" href="https://<%=domain%>"><span class='mark'>HTTPS</span> https://<%=domain%></a>
                  <% }) %>
                  <a class='net' target="_blank" href="http://localhost:<%=item.port%>"><span class='mark'>HTTP</span> http://localhost:<%=item.port%></a>
                </div>
                <div class='section'>
                  <% if (item.external_ip) { %>
                    <a class='net' target="_blank" href="http://<%=item.external_ip%>"><span class='mark'>HTTP</span> http://<%=item.external_ip%></a>
                  <% } %>
                </div>
                <div class='section'>
                  <% item.external_router.forEach((domain) => { %>
                    <a class='net' target="_blank" href="https://<%=domain%>"><span class='mark'>HTTPS</span> https://<%=domain%></a>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
        </h3>
      <% }) %>
    <% } else { %>
      <div class='section-container'>
        <div class='section-col'>
          <div class='section-header'>
            <h3>
              <div class='col'>
                <div class='grid-1'>
                  <div class='section'>
                    <h2><i class="fas fa-circle-notch fa-spin"></i> Online</h2><div>Use these URLs to access the online remote servers.</div>
                  </div>
                </div>
              </div>
            </h3>
          </div>
          <% processes.forEach((item, index) => { %>
            <div class='index line align-top' data-index="<%=index%>" data-name="<%=item.name%>" data-title="<%=item.name%>" data-description="<%=item.external_router.join(' ')%> <%=item.external_ip%>">
              <h3>
                <div class='item-icon'>
                  <% if (item[`${protocol}_icon`]) { %>
                    <img src="<%=item[`${protocol}_icon`]%>">
                  <% } else { %>
                    <div class='placeholder-icon'>
                      <i class="fa-solid fa-database"></i>
                    </div>
                  <% } %>
                </div>
                <div class='col'>
                  <div class='title'><i class="fa-solid fa-circle"></i><span><%=item.title || item.name%></span></div>
                  <div class='grid-1'>
                    <div class='section'>
                      <% if (item.external_ip) { %>
                        <a class='net' target="_blank" href="http://<%=item.external_ip%>"><span class='mark'>HTTP</span> http://<%=item.external_ip%></a>
                      <% } %>
                      <% item.external_router.forEach((domain) => { %>
                          <a class='net' target="_blank" href="https://<%=domain%>"><span class='mark'>HTTPS</span> https://<%=domain%></a>
                      <% }) %>
                    </div>
                  </div>
                </div>
              </h3>
            </div>
          <% }) %>
        </div>
        <div class='section-col'>
          <div class='section-header'>
            <h3>
              <div class='col'>
                <div class='grid-1'>
                  <div class='section'>
                    <h2><i class="fa-regular fa-folder-open"></i> Installed</h2><div>Remotely launch the installed apps.</div>
                  </div>
                </div>
              </div>
            </h3>
          </div>
          <% installed.forEach((item, index) => { %>
            <div class='index line align-top' data-index="<%=processes.length + index%>" data-name="<%=item.name%>" data-title="<%=item.name%>" data-description="<%=item.description%>">
              <h3>
                <div class='item-icon'>
                  <% if (item[`${protocol}_icon`]) { %>
                    <img src="<%=item[`${protocol}_icon`]%>">
                  <% } else { %>
                    <div class='placeholder-icon'>
                      <i class="fa-solid fa-database"></i>
                    </div>
                  <% } %>
                </div>
                <div class='col'>
                  <div class='title'><%=item.title || item.name%></div>
                  <div class='description'><%=item.description%></div>
                  <div class='launch-btns grid-1'>
                    <div class='section'>
                      <a target="_blank" href="<%=item.https_href%>" class='net'><span class='mark'>HTTPS</span> <%=item.https_href%></a>
                      <a target="_blank" href="<%=item.http_href%>" class='net'><span class='mark'>HTTP</span> <%=item.http_href%></a>
                    </div>
                  </div>
                </div>
              </div>
            </h3>
          <% }) %>
        </div>
      </div>
    <% } %>
  </div>
</div>
</main>
<script>
let list = []
document.querySelectorAll(".line.index").forEach((el, index) => {
  list.push({
    index: parseInt(el.getAttribute("data-index")),
    name: el.getAttribute("data-name"),
    description: el.getAttribute("data-description"),
    uri: el.getAttribute("data-uri")
  })
})
const search = (items, value) => {
  let filtered = []
  for(let i=0; i<items.length; i++) {
    let item = items[i]
    let re = new RegExp(value, "i")
    if (re.test(item.name)) {
      filtered.push({ item })
    } else if (re.test(item.description)) {
      filtered.push({ item })
    } else if (re.test(item.uri)) {
      filtered.push({ item })
    }
  }
  return filtered
}
let selectedIndex = -1
let selectedBtnIndex = 0
let filteredCount = list.length
let filteredBtnsCount = 0

const renderSearch = () => {
  let target = document.querySelector("form input[type=search]")
  let result
  if (target.value.trim().length === 0) {
    result = list.map((i, index) => {
      return { item: i }
    })
  } else {
    result = search(list, target.value)
  }
  let all = document.querySelectorAll(".line.index")
  for(let el of all) {
    el.classList.add("hidden")
    el.classList.remove("selected")
  }

  filteredCount = result.length
  for(let i=0; i<result.length; i++) {
    let selector = result[i]
    //let el = document.querySelector(".line[data-name='" + selector.item.name + "']")
    let el = document.querySelector(".line.index[data-index='" + selector.item.index + "']")
    el.classList.remove("hidden")
    if (i === selectedIndex) {
      el.classList.add("selected")
      let btns = el.querySelectorAll(".btns a")
      filteredBtnsCount = btns.length
      btns.forEach((_el, j) => {
        if (selectedBtnIndex === j) {
          _el.classList.add("selected")
        } else {
          _el.classList.remove("selected")
        }
      })
    } else {
      el.classList.remove("selected")
      let btns = el.querySelectorAll(".btns a")
      btns.forEach((_el, j) => {
        _el.classList.remove("selected")
      })
    }
  }

}

renderSearch()


document.querySelector("form input[type=search]").addEventListener("input", (e) => {
  selectedIndex = 0
  selectedBtnIndex = 0
  renderSearch()
})
let params = new URLSearchParams(location.search)
let selected = params.get("selected")
if (selected) {
  document.querySelector("form input[type=search]").value = selected 
  document.querySelector("form input[type=search]").dispatchEvent(new Event('input', { bubbles: true, cancelable: true }));
}
if (document.querySelector("form input[type=search]")) {
  document.querySelector("form input[type=search]").addEventListener("input", (e) => {
    let p
    if (e.target.value && e.target.value.trim().length > 0) {
      p = location.pathname + "?selected=" + e.target.value
    } else {
      p = location.pathname
    }
    window.history.pushState({ path: p }, '', p);
  })
}
//document.addEventListener("keydown", (e) => {
//  console.log("keydown", e)
//  e = e || window.event;
//  if (e.key === "ArrowUp") {
//    console.log("up arrow pressed");
//    selectedIndex = Math.max(selectedIndex-1, 0)
//    selectedBtnIndex = 0
//    renderSearch()
//    let selected = document.querySelector(".line.selected")
//    selected.scrollIntoView(false)
//    // 
//  } else if (e.key === "ArrowDown") {
//    console.log("before selectedIndex", selectedIndex)
//    selectedIndex = Math.min(filteredCount-1, selectedIndex+1)
//    selectedBtnIndex = 0
//    console.log("after selectedIndex", selectedIndex)
//    renderSearch()
//    console.log("down arrow pressed");
//    let selected = document.querySelector(".line.selected")
//    selected.scrollIntoView(false)
//  } else if (e.key === "ArrowLeft") {
//    selectedBtnIndex = Math.max(selectedBtnIndex-1, 0)
//    console.log("left arrow pressed");
//    console.log("selectedBtnIndex", selectedBtnIndex)
//    renderSearch()
//  } else if (e.key === "ArrowRight") {
//    console.log("right arrow pressed");
//    selectedBtnIndex = Math.min(filteredBtnsCount-1, selectedBtnIndex+1)
//    console.log("selectedBtnIndex", selectedBtnIndex)
//    renderSearch()
//  } else if (e.key === "Enter") {
//    //let selected = document.querySelector(".line.selected:not(.hidden) .btns a.selected")
//    //let selected = document.querySelector(".line.selected:not(.hidden) .title a")
//    let selected = document.querySelector(".line.selected:not(.hidden)")
//    console.log("selected", selected)
//    if (selected) {
//      e.preventDefault()
//      e.stopPropagation()
//      selected.click()
//    }
//  }
//});
document.querySelector("form input[type=search]").focus()
document.addEventListener("click", async (e) => {
  if (e.target.classList.contains("shutdown")) {
    target = e.target
  } else {
    target = e.target.closest(".shutdown")
  }
  if (target) {
    e.preventDefault()
    e.stopPropagation()
    let src = target.getAttribute("data-src")
    let id = target.getAttribute('data-id')
    let type = target.getAttribute('data-type')
    console.log({ id, src, type })

    let params = {}
    if (id) params.id = id
    if (src) params.uri = "~/" + src

    if (type === "shell") {
      socket.run({
        method: "kernel.bin.shell_kill",
        params: { id }
      }, (packet) => {
        console.log("packet", packet)
        if (packet.type === "result") {
          socket.close()
          target.querySelector("i.fa-stop").className = "fa-solid fa-check"
          target.querySelector("i.fa-spin").classList.add("hidden")
          n.Noty({
            text: `stopped`,
            silent: true
          })
          setTimeout(() => {
            location.href = location.href
          }, 500)
        }
      })
    } else {
      socket.run({
        method: "kernel.api.stop",
        params,
      }, (packet) => {
        console.log("packet", packet)
        if (packet.type === "result") {
          socket.close()
          target.querySelector("i.fa-stop").className = "fa-solid fa-check"
          target.querySelector("i.fa-spin").classList.add("hidden")
          n.Noty({
            text: `stopped ${src}`,
            silent: true
          })
          setTimeout(() => {
            location.href = location.href
          }, 500)
        }
      })
    }


    return
  }
  if (e.target.classList.contains("open-menu")) {
    target = e.target
  } else {
    target = e.target.closest(".open-menu")
  }
  if (target) {
    e.preventDefault()
    e.stopPropagation()
    let contextMenu = target.closest(".col").querySelector(".context-menu").classList.toggle("collapsed")
//    target.classList.toggle("selected")
    return
  }

  if (e.target.classList.contains("move-menu")) {
    target = e.target
  } else {
    target = e.target.closest(".move-menu")
  }
  if (target) {
    e.preventDefault()
    e.stopPropagation()

    let disable_message = target.getAttribute('data-disable')
    if (disable_message && disable_message.length > 0) {
      alert(disable_message)
      return
    }

    let line = target.closest(".line")
    let title = line.getAttribute("data-title")
    let icon = line.getAttribute("data-icon")
    let iconpath = line.getAttribute("data-iconpath")
    let path = line.getAttribute("data-path")
    let description = line.getAttribute("data-description")
    await FSEditor({
      title,
      description,
      old_path: path,
      icon,
      iconpath,
      move: true,
      edit: true,
      redirect: (new_path) => {
        return location.href
      }
    })
    return
  }

  if (e.target.classList.contains("copy-menu")) {
    target = e.target
  } else {
    target = e.target.closest(".copy-menu")
  }
  if (target) {
    e.preventDefault()
    e.stopPropagation()
    let line = target.closest(".line")
    let title = line.getAttribute("data-title")
    let icon = line.getAttribute("data-icon")
    let iconpath = line.getAttribute("data-iconpath")
    let path = line.getAttribute("data-path")
    let description = line.getAttribute("data-description")
    await FSEditor({
      title,
      description,
      old_path: path,
      icon,
      iconpath,
      copy: true,
      edit: true,
      redirect: (new_path) => {
        return location.href
      }
    })
    return
  }

  if (e.target.classList.contains("edit-menu")) {
    target = e.target
  } else {
    target = e.target.closest(".edit-menu")
  }
  if (target) {
    e.preventDefault()
    e.stopPropagation()
    let line = target.closest(".line")
    let title = line.getAttribute("data-title")
    let icon = line.getAttribute("data-icon")
    let iconpath = line.getAttribute("data-iconpath")
    let path = line.getAttribute("data-path")
    let description = line.getAttribute("data-description")
    await FSEditor({
      title,
      description,
      old_path: path,
      icon,
      iconpath,
      edit: true,
      redirect: (new_path) => {
        return location.href
      }
    })
    return
  }




  if (e.target.classList.contains("browse")) {
    target = e.target
  } else {
    target = e.target.closest(".browse")
  }
  if (target) {
    e.preventDefault()
    e.stopPropagation()
    let src = target.getAttribute("data-src")
    location.href = src
    return
  }


  // delete
  if (e.target.classList.contains("del")) {
    target = e.target
  } else {
    target = e.target.closest(".del")
  }
  if (target) {
    e.preventDefault()
    e.stopPropagation()

    let disable_message = target.getAttribute('data-disable')
    if (disable_message && disable_message.length > 0) {
      alert(disable_message)
      return
    }

    let confirmed = confirm("Are you sure you want to delete the folder? All files in the folder will be gone.")
    if (confirmed) {
      let itemEl = target.closest(".line[data-uri]")
      let name = itemEl.getAttribute("data-uri")
      console.log("delete", name)
      Swal.fire({
        html: '<i class="fa-solid fa-circle-notch fa-spin"></i> Deleting',
        customClass: {
          container: "loader-container",
          popup: "loader-popup",
          htmlContainer: "loader-dialog",
          footer: "hidden",
          actions: "hidden"
        }
      });
      let res = await fetch("/pinokio/delete", {
        method: "post",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ name })
      }).then((res) => {
        return res.json()
      })
      console.log("res", res)
      Swal.close()
      if (res) {
        if (res.success) {
          location.href = "/"
        } else if (res.error) {
          alert(res.error)
        }
      }
    } else {
    }
    return
  }



  if (document.querySelector(".container")) {
    document.querySelector(".container").addEventListener("click", async (e) => {
      e.stopPropagation()
    })
  }


})
</script>
</body>
</html>
