<html class='columns'>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<script src="/hotkeys.min.js"></script>
<script src="/ace/ace.js"></script>
<script src="/noty.js"></script>
<script src="/notyq.js"></script>
<script src="/xterm.js"></script>
<script src="/xterm-addon-fit.js"></script>
<script src="/xterm-addon-web-links.js"></script>
<script src="/xterm-theme.js"></script>
<script src="/xterm-addon-search.js"></script>
<script src="/xterm-addon-search-bar.js"></script>
<script src="/sweetalert2.js"></script>
<script src="/Socket.js"></script>
<script src="/common.js"></script>
<script src="/he.js"></script>
<script src="/opener.js"></script>
<script src="/nav.js"></script>
<script src="/autoexpand.js"></script>
<script src="/modalinput.js"></script>
<script src="/simplemodal.js"></script>
<script src="/waitmodal.js"></script>
<script src="/notifyinput.js"></script>
<script src="/report.js"></script>
<link href="/xterm.min.css" rel="stylesheet" />
<link href="/css/fontawesome.min.css" rel="stylesheet">
<link href="/css/solid.min.css" rel="stylesheet">
<link href="/css/regular.min.css" rel="stylesheet">
<link href="/css/brands.min.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet"/>
<link href="/noty.css" rel="stylesheet"/>
<% if (agent === "electron") { %>
  <link href="/electron.css" rel="stylesheet"/>
<% } %>
<style>
body.frozen {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#table > table {
  border-left: 2px solid black;
  padding-left: 5px;
  margin: 10px 0;
}
.highlight {
  background: yellow;
  width: 100px;
}
th {
  background: rgba(0,0,0,0.1);
  padding: 10px;
  font-size: 12px;
}
td {
  font-size: 12px;
  padding: 10px;
}
td.val {
  background: rgba(0,0,0,0.06);
}
td.key {
  background: rgba(0,0,0,0.1);
}
.button {
  cursor: pointer; 
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}
.button:hover {
  
}
#editor {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 800px;
  padding: 50px;
}
header .runner {
  padding: 10px 0 0;
}
.disabled {
  opacity: 0.7;
}
body.dark .env-item input[type=text] {
  background: white;
}
.env-item input[type=text] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  background: rgba(0,0,100, 0.1);
}
body.dark .env-item label {
  color: cornflowerblue;
}
.env-item a {
  color: royalblue;
  text-decoration: none;
}
.env-item div {
  padding: 5px;
}
.env-item label {
  color: royalblue;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -1px;
}
.env-item ul {
  margin: 5px 0;
}
.env-item {
  padding-top: 10px;
  padding-bottom: 30px;
}
body.dark .comment {
  border-left: 2px solid white;
}
.comment {
  opacity: 0.8;
  border-left: 2px solid black;
  padding-left: 10px;
}
#save {
  background: royalblue;
}
hr {
  margin: 20px 0;
  background: rgba(255,255,255,0.1);
  border: none;
  height: 1px;
}
.shared {
}
.shared a {
  display: block;
  margin-bottom: 5px;
}
.shared img {
  width: 200px;
  border: 1px solid rgba(0,0,0,0.1);
}
.shared h2 {
  margin: 0;
  letter-spacing: -1px;
}
.passcode ol {
  padding-inline-start: 15px;
  margin: 5px 0 10px;
}
body.dark .passcode {
  border: 1px solid rgba(255,255,255,0.1); 
}
.passcode {
  margin-left: 30px;
  padding: 20px !important;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}
.passcode h2 {
  margin: 0;
  font-size: 20px;
  letter-spacing: -1px;
}
.passcode div {
  padding: 0 0 10px;
}
.passcode .row {
  display: flex;
  padding: 0;
}
body.dark .passcode .row input {
  background: white;
}
.passcode .row input {
  border-radius: 0;
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  background: rgba(0,0,100,0.1);
}
body.dark .passcode button {
  background: royalblue;
}
.passcode button {
  border-radius: 0; 
}
body.dark .cloudflare-running {
  border: 1px solid rgba(255,255,255,0.1);
}
.cloudflare-running {
  margin-left: 30px;
  padding: 20px !important;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.1);
}
h1 {
  font-size: 50px;
  padding-bottom: 10px;
}

</style>
<script>
document.addEventListener("DOMContentLoaded", async () => {
  const n = new N()
  document.querySelector("#reveal").addEventListener("click", async (e) => {
    let el = document.querySelector("#passcode")
    if (el.type === "password") {
      el.type = "text"
    } else {
      el.type = "password"
    }
  })
  document.querySelector("#save").addEventListener("click", async (e) => {
    // save
    const vals = {}
    const els = document.querySelectorAll(".env-item input[type=checkbox]")
    for(let el of els) {
      let id = el.getAttribute("data-id")
      vals[id] = el.checked
    }

    const passcode_el = document.querySelector("#passcode")
    vals.PINOKIO_SHARE_PASSCODE = passcode_el.value

    const port_el = document.querySelector("#local_port")
    vals.PINOKIO_SHARE_LOCAL_PORT = port_el.value

    let res = await fetch("/env", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        filepath: "api/" + location.pathname.slice(7),
        vals,
      })
    }).then((res) => {
      return res.json()
    })
    n.Noty({
      text: `Updated! Restart the app to apply the change.`
    })
  })
})
</script>
</head>
<body class='columns <%=theme%>'>
  <main>
    <div id='editor'>
      <h1>Share Apps</h1>
      <div>You can open up your local Pinokio node to the outside world, or any other device on the same network, instantly.</div>
      <hr>
      <div class='env-item'>
        <% if (config.PINOKIO_SHARE_CLOUDFLARE.toString() === "true") { %>
          <input type="checkbox" data-id="PINOKIO_SHARE_CLOUDFLARE" name="cloudflare" checked />
        <% } else { %>
          <input type="checkbox" data-id="PINOKIO_SHARE_CLOUDFLARE" name="cloudflare" />
        <% } %>
        <label for="cloudflare"><i class="fa-brands fa-cloudflare"></i> Run a Public Node</label>
        <ul>
          <li>This will let you share your local Pinokio app to the public internet, which anyone with a URL can access.</li>
          <li>Powered by <a href="https://www.cloudflare.com/products/tunnel/" target="_blank" features="browser">Cloudflare Tunnel</a></li>
          <li>You can manually configure this in through the Configure menu (set PINOKIO_SHARE_CLOUDFLARE to true)</li>
        </ul>
        <div class='passcode'>
          <h2>Passcode (optional)</h2>
          <ol>
            <li><strong>No passcode:</strong> Anyone with the URL can use the app</li>
            <li><strong>Passcode:</strong> Users will need to authenticate with the passcode before using the app.</li>
            <li>To allow multiple passcodes, separate the passode by commas (Example: ab12zd3,D3ad3a,df3d9Fa).</li>
          </ol>
          <div class='row'>
            <input id='passcode' type='password' value="<%=config.PINOKIO_SHARE_PASSCODE || ''%>"/>
            <button class='btn' id='reveal'><i class="fa-solid fa-eye"></i></button>
          </div>
        </div>
        <% if (cloudflare_links.length > 0) { %>
          <div class='cloudflare-running'>
            <div class='shared'>
              <h2><i class="fa-solid fa-circle-notch fa-spin"></i> Running</h2>
            </div>
            <% cloudflare_links.forEach((link) => { %>
              <div class='shared'>
                <a href="<%=link.url%>" target="_blank" features="browser"><%=link.url%></a>
                <img src="<%=link.qr%>">
              </div>
            <% }) %>
          </div>
        <% } %>
      </div>
      <div class='env-item'>
        <% if (config.PINOKIO_SHARE_LOCAL.toString() === "true") { %>
          <input type="checkbox" data-id="PINOKIO_SHARE_LOCAL" name="local" checked />
        <% } else { %>
          <input type="checkbox" data-id="PINOKIO_SHARE_LOCAL" name="local" />
        <% } %>
        <label for="local"><i class="fa-solid fa-network-wired"></i> Share with Local Network</label>
        <ul>
          <li>This will allow any device on the same local network to access the app.</li>
          <li>A new IP will be provided when local sharing is on, which can be used to access from any device on the same network.</li>
          <li>You can manually configure this through the Configure menu (set PINOKIO_SHARE_LOCAL to true)</li>
        </ul>
        <div class='passcode'>
          <h2>Custom Port (optional)</h2>
          <ol>
            <li><strong>No custom port:</strong> a random port will be generated automatically.</li>
            <li><strong>Custom port:</strong> the local share network will be started at the specified port</li>
          </ol>
          <div class='row'>
            <input id='local_port' type='text' value="<%=config.PINOKIO_SHARE_LOCAL_PORT || ''%>"/>
          </div>
        </div>
        <% local_links.forEach((link) => { %>
          <div class='shared'>
            <a href="<%=link.url%>" target="_blank" features="browser"><%=link.url%></a>
            <img src="<%=link.qr%>">
          </div>
        <% }) %>
      </div>
      <div class='runner'>
        <div id='save' class='btn'>
          <span class='save'><i class="fa-solid fa-check"></i> Save</span>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
