<html class='columns'>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<script src="/hotkeys.min.js"></script>
<script src="/ace/ace.js"></script>
<script src="/noty.js"></script>
<script src="/notyq.js"></script>
<script src="/xterm.js"></script>
<script src="/xterm-addon-fit.js"></script>
<script src="/xterm-addon-web-links.js"></script>
<script src="/xterm-theme.js"></script>
<script src="/xterm-addon-search.js"></script>
<script src="/xterm-addon-search-bar.js"></script>
<script src="/sweetalert2.js"></script>
<script src="/Socket.js"></script>
<script src="/common.js"></script>
<script src="/he.js"></script>
<script src="/opener.js"></script>
<script src="/nav.js"></script>
<script src="/autoexpand.js"></script>
<script src="/modalinput.js"></script>
<script src="/simplemodal.js"></script>
<script src="/waitmodal.js"></script>
<script src="/notifyinput.js"></script>
<script src="/report.js"></script>
<link href="/xterm.min.css" rel="stylesheet" />
<link href="/css/fontawesome.min.css" rel="stylesheet">
<link href="/css/solid.min.css" rel="stylesheet">
<link href="/css/regular.min.css" rel="stylesheet">
<link href="/css/brands.min.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet"/>
<link href="/noty.css" rel="stylesheet"/>
<% if (agent === "electron") { %>
  <link href="/electron.css" rel="stylesheet"/>
<% } %>
<style>
body.frozen {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#table > table {
  border-left: 2px solid black;
  padding-left: 5px;
  margin: 10px 0;
}
.highlight {
  background: yellow;
  width: 100px;
}
th {
  background: rgba(0,0,0,0.1);
  padding: 10px;
  font-size: 12px;
}
td {
  font-size: 12px;
  padding: 10px;
}
td.val {
  background: rgba(0,0,0,0.06);
}
td.key {
  background: rgba(0,0,0,0.1);
}
.button {
  cursor: pointer; 
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}
.button:hover {
  
}
<% if (init) { %>
  main {
    width: 100%;
    box-sizing: border-box;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
  }
<% } else { %>
  #editor {
    width: 100%;
    box-sizing: border-box;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
  }
<% } %>

header .btn {
  font-family: Sans-serif;
  display: block;
  margin-left: 10px;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  padding: 5px 10px;
}
.disabled {
  opacity: 0.7;
}
body.dark .env-item input[type=text] {
  background: white;
}
.env-item input[type=text] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  background: rgba(0,0,100, 0.1);
}
body.dark .env-item label {
  color: cornflowerblue;
}
.env-item label {
  color: royalblue;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}
.env-item {
  padding-top: 10px;
  padding-bottom: 30px;
}
body.dark .comment {
  border-left: 2px solid white;
}
.comment {
  opacity: 0.8;
  border-left: 2px solid black;
  padding-left: 10px;
}
#save {
  background: royalblue;
}
a#customize {
  text-decoration: none;
  cursor: pointer;
}
.e {
  padding: 10px 0;
}
#editor {
  padding: 20px 0;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  display: block;
}
.card {
  display: flex;
  padding: 10px 0;
  box-sizing: border-box;
}
.card img {
  width: 100px;
  border-radius: 10px;
}
.card .description {
  opacity: 0.8;
}
.card .title {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: -1px;
}
.card .col {
  padding-left: 10px;
}
h1 {
  font-size: 50px;
  padding-bottom: 20px;
}
footer {
  background: none;
  padding: 0;
  text-align: right;
  display: flex;
  margin: 10px 0 20px 0;
}
footer .btn {
  margin-left: 10px;
  display: inline-block;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

}
footer .btn.go-home {
  margin-left: 0px;
}
.btn.home-button {
  background: none !important;
  margin: 0 !important;
  font-size: 16px !important;
}
#editor {
  height: auto;
}
</style>
<script>
document.addEventListener("DOMContentLoaded", async () => {
  const n = new N()
  document.querySelector("#save").addEventListener("click", async (e) => {
    // save
    const vals = {}
    const els = document.querySelectorAll(".env-item")
    for(let el of els) {
      let input = el.querySelector("input[type=text]")
      vals[input.id] = input.value
    }
    console.log("vals", vals)
    let res = await fetch("/env", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        filepath: location.pathname.slice(5),
        vals
      })
    }).then((res) => {
      return res.json()
    })
    console.log("res" ,res)
    location.href = "<%=path%>"
  })
  <% if (init) { %>
    document.querySelector("#customize").addEventListener("click", (e) => {
      e.preventDefault()
      e.stopPropagation()
      document.querySelector("#editor").classList.toggle("hidden")
      document.querySelector("body").classList.toggle("center")
    })
    let editor = ace.edit("editor");
    editor.setTheme("ace/theme/nord_dark");
    editor.setOptions({
      maxLines: Infinity, // set to a large number
      minLines: 1 // set to a small number
    });
    editor.session.setMode("ace/mode/javascript");
    editor.clearSelection()
  <% } %>
})
</script>
</head>
<body class='<%=theme%> <%=init ? 'center' : ''%>'>
  <main>
    <% if (init) { %>
      <div>
        <% if (config) { %>
          <div class='card'>
            <% if (config.icon) { %>
              <img src="<%=config.icon%>">
            <% } else { %>
              <img src="/term.png">
            <% } %>
            <div class='col'>
              <div class='title'><%=config.title%></div>
              <div class='description'><%=config.description%></div>
            </div>
          </div>
          <div class='env-form'>
            <% items.forEach((item) => { %>
              <% if (item.type === "comment") { %>
                <div class='comment'><%=item.val.replaceAll(/^[ #]+/g, "")%></div>
              <% } else { %>
                <div class='env-item'>
                  <label for="<%=item.key%>"><%=item.key%></label>
                  <input id="<%=item.key%>" type="text" value="<%=item.val%>">
                </div>
              <% } %>
            <% }) %>
          </div>
        <% } %>
        <footer>
          <a href="/" class='btn go-home'><i class='fa-solid fa-home'></i> home</a>
          <div class='flexible'></div>
          <!--
          <a id='customize' class='btn' target="_blank" href='<%=_path%>'><i class='fa-solid fa-code'></i> View Script</a>
          -->
          <button id='customize' class='btn'><i class="fa-solid fa-code"></i> View Script</button>
          <a id='save' href="<%=path%>" class='btn'>
            <span class='save'><i class="fa-solid fa-check"></i> Run</span>
          </a>
        </footer>
      </div>
    <% } else { %>
      <header class='navheader grabbable'>
        <h1>
          <% if (home) { %>
            <a class='home-button home' href="/"><i class='fa-solid fa-home'></i></a>
          <% } %>
          <div class='flexible'></div>
          <div class='nav-btns'>
            <a class='btn' href="<%=editorpath%>"><i class="fa-solid fa-pen-to-square"></i> Edit file</a>
            <button class='btn' id='open-fs' data-filepath="<%=filepath%>"><i class="fa-solid fa-eye"></i> Open in File Explorer</button>
            <div id='save' class='btn'>
              <span class='save'><i class="fa-solid fa-check"></i> Save</span>
            </div>
          </div>
        </h1>
      </header>
    <% } %>
  </main>
  <div id='editor' class='<%=init ? "hidden" : ''%>'><%=str%></div>
</body>
</html>
