<html>
<head>
<title>Pinokio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link href="/xterm.min.css" rel="stylesheet" />
<link href="/css/fontawesome.min.css" rel="stylesheet">
<link href="/css/solid.min.css" rel="stylesheet">
<link href="/css/regular.min.css" rel="stylesheet">
<link href="/css/brands.min.css" rel="stylesheet">
<link href="/markdown.css" rel="stylesheet"/>
<link href="/noty.css" rel="stylesheet"/>
<link href="/filepond.min.css" rel="stylesheet" />
<link href="/filepond-plugin-image-preview.min.css" rel="stylesheet" />
<link href="/filepond-plugin-image-edit.min.css" rel="stylesheet" />
<link href="/style.css" rel="stylesheet"/>
<% if (agent === "electron") { %>
  <link href="/electron.css" rel="stylesheet"/>
<% } %>
<style>
main {
  max-width: 800px;
  /*
  margin: 0 auto;
  */
}
.doc {
  padding: 20px;
  margin: 20px;
  /*
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  */
}
#readme {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 20px;
  margin-top: 20px;
}
#readme ol, #readme ul {
  padding-inline-start: 18px;
}
.line2 {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: rgba(0,0,100,0.04);
}
.line2 a {
  text-decoration: none;
  color: black;
}
.status {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.status.offline {
  background: silver;
}
.status.online {
  background: yellowgreen;
}
.switch {
  padding: 10px;
  margin: 10px 0;
}
.switch[data-online=true] {
  color: yellowgreen;
}
.button {
  padding: 10px;
}
.on, .off {
  display: flex;
  align-items: center;
}
header .runner {
  padding: 10px 0 0;
}
.proxy {
  padding: 0 10px;
  text-align: right;
}
.proxy a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 2px;
  background: black;
  color: white;
}
.browser-options-btns {
  display: flex;
  padding-top: 5px;
}
.browser-options-row {
/*
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  */
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.browser-options-row h3 {
  margin: 0;
  font-size: 14px;
  margin-bottom: 3px;
}
.browser-options-row .btn.disabled {
  opacity: 0.7;
}
.browser-options-row .btn {
  font-weight: bold;
  width: 100px;
  text-align: center;
  display: block;
  margin-right: 10px;
  flex-shrink: 0;
  padding: 5px;
}
.badge {
  font-size: 12px;
  padding: 5px 10px;
  background: rgba(0,0,100,0.1);
  border-radius: 5px;
  display: inline-block;
  margin-top: 5px;
}
a.badge {
  color: royalblue;
  text-decoration: none;
  cursor: pointer;
}
.badge a {
  color: royalblue;
  text-decoration: none;
}
body.dark .btn {
  color: white;
  border: 1px solid rgba(255,255,255,0.3);
}
body.dark .badge {
  background: rgba(255,255,255,0.1);
}
.folder-templates {
  background: rgba(0,0,100, 0.02);
}
.folder-templates .folder {
  text-decoration: none;
  color: rgba(0,0,0,0.9);
  font-size: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.folder-templates .folder .title {
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
}
.folder-templates .folder img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 10px;
}
.prototype-header {
  padding: 20px;
  border-radius: 10px;
  background: rgba(0,0,0,0.04);
}
.prototype-header input, .prototype-header textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.2);
}
.prototype-header .footer {
  text-align: right;
}
/*
body.dark .browser-options-row {
  border-top: 1px solid rgba(255,255,255,0.05);
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
*/
.meta {
  display: flex;
  align-items: flex-start;
}
.meta-action {
  padding: 10px 0;
}
.meta-content {
  padding: 10px;
}
.meta-content h2 {
  margin: 0;
  font-size: 30px;
}
.meta-path {
  padding: 10px 0;
  opacity: 0.7;
}
.meta img {
  width: 100px;
}
@media only screen and (max-width: 480px) {
  .btn2 {
    padding: 5px;
    font-size: 11px;
  }
  .nav-btns {
    flex-grow: 1;
    justify-content: center;
    padding: 0;
  }
}








.online {
  width: 10px;
  height: 10px;
  background: yellowgreen;
  border-radius: 10px;
}
#menu {
  display: flex;
}
#menu i {
  display: block;
}
#menu img {
  display: none;
  height: 30px;
  object-fit: contain;
  /*
  border-radius: 20px
  */
}
#menu.margin {
/*
  padding: 5px;
  */
}
#menu.margin i {
  display: none;
}
#menu.margin img {
  display: block;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
.menu {
  overflow: auto;
}
body.dark .m {
  border-top: 1px solid rgba(255,255,255,0.04);
}
.m {
  border-top: 1px solid rgba(0,0,0,0.04);
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
body aside {
/*
  background: var(--light-bg);
  */
  border-right: 1px solid rgba(0,0,0,0.04);
  height: 100%;
}
body.dark aside {
  background: var(--dark-bg);
  border-right: 1px solid rgba(255,255,255,0.04);
}
aside {
  display: flex;
  flex-direction: column;
  width: 200px;
  overflow: auto;
  box-sizing: border-box;
  flex-shrink: 0;
}
main {
  flex-grow: 1;
  min-height: 0;
  /*
  height: 100%;
  */
}
main iframe[name^=http] {
  background: white;
}
main iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.header-item {
  /*
  display: block;
  */
  display: flex;
  font-size: 12px;
  text-decoration: none;
  align-items: center;
  border-radius: 0;
  cursor: pointer;
}
.header-item.selected {
}
.header-item .btn2 {
  margin: 0;
  border: none;
  padding: 5px;
  /*
  color: var(--light-color);
  */
}
body.dark .header-item .btn2 {
/*
  color: var(--darkt-color);
  */
}
.bar .btn2 i {
  display: block;
  margin-right: 5px;
}
.header-item > * {
  display: block;
}
.header-item img {
/*
  width: 60px;
  */
  height: 80px;
  width: 80px;
  /*
  border-radius: 10px;
  */
  object-fit: contain;
  display: inline-block;
  /*
  border-radius: 30px;
  */
}
body.dark .header-item.btn {
/*
  color: white;
  */
  color: var(--dark-color);
}
.header-item.btn {
  padding: 10px;
  background: none !important;
  color: var(--light-color);
}
.logo {
  font-size: 20px;
  padding: 20px;
}
body .logo {
  color: var(--light-color);
}
body.dark .logo {
  color: var(--dark-btn-color);
  /*
  color: white;
  */
}
body #new-window {
  color: var(--light-color);
}
body.dark #new-window {
  color: var(--dark-btn-color);
  /*
  color: white;
  */
}
/*
.dark .app-info {
  background: rgba(255,255,255,0.04);
}
*/
.app-info {
  
/*
  display: flex;
  */
  box-sizing: border-box;
  text-align: center;;
  font-weight: bold;
  align-items: center;
  /*
  background: rgba(0,0,0,0.04);
  */
}
.folderbuttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
}
.header-btns {
  padding: 0 !important;
}
body.dark .header-btns {
  border-top: 1px solid rgba(255,255,255,0.04);
}
.app-info-edit {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
/*
.dark .app-info-edit {
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
*/
.dark .app-info-edit:hover {
  background: rgba(0,0,0,0.2);
}
.app-info-edit:hover{
  background: rgba(0,0,0,0.05);
}
.app-info-edit i{
  display: block;
}
.app-info-edit, .app-info-copy {
  font-weight: normal;

  /*
  border-radius: 20px;
  */
  font-size: 12px;
  padding: 15px 5px;
  /*
  margin: 10px 20px 0;
  */
}
.app-info-card {
  padding: 10px !important;
}
.app-info .btn {
  width: 100%;
}
.app-info-card > * {
  padding: 5px;
  color: var(--light-color);
  text-decoration: none;
  box-sizing: border-box;
}
body.dark .app-info-card > * {
  color: var(--dark-color);
}
.appcanvas {
  display: flex;
  flex-grow: 1;
  border-top: 1px solid rgba(0, 0,0 ,0.04);
}
body.dark .appcanvas {
  border-top: 1px solid rgba(255,255,255,0.04);
}

@media only screen and (max-width: 480px) {
  nav .btn2 {
    width: auto !important;
    min-width: 40px;
    border-right: none;
    flex-direction: column;
  }
  .app-info {
    display: flex;
    padding: 10px;
  }
  .app-info img {
    width: 60px;
    height: 60px;
  }

  .header-item {
    font-size: 16px;
  }
  aside.active {
    width: 100%;
    z-index: 10000000;
  }
  aside:not(.active) {
    display: none;
  }
  .container {
    display: none;
  }
  .container.active {
    display: block;
    position: absolute;
    z-index: 10000000;
    width: 100%;
    height: 100%;
  }
  /*
  .grid-btns {
    display: none;
  }
  */
  #menu {
    display: none;
  }
  #menu-mobile {
    display: flex;
  }
}
body.dark .header-item.cursor.header-top {
  background: none !important;
}
.header-item.cursor.header-top {
  background: none !important;
}
.header-item.header-top {
  display: block;
}
</style>
<script src="/hotkeys.min.js"></script>
<script src="/sweetalert2.js"></script>
<script src="/noty.js"></script>
<script src="/notyq.js"></script>
<script src="/xterm.js"></script>
<script src="/xterm-addon-fit.js"></script>
<script src="/xterm-addon-web-links.js"></script>
<script src="/xterm-theme.js"></script>
<script src="/Socket.js"></script>
<script src="/install.js"></script>
<script src="/common.js"></script>
<script src="/opener.js"></script>
<script src="/nav.js"></script>
<script src="/fuse.js"></script>
<script src="/report.js"></script>
<script src="/filepond-plugin-file-validate-type.min.js"></script>
<script src="/filepond-plugin-image-exif-orientation.min.js"></script>
<script src="/filepond-plugin-image-preview.min.js"></script>
<script src="/filepond-plugin-image-edit.min.js"></script>
<script src="/filepond-plugin-image-crop.min.js"></script>
<script src="/filepond-plugin-image-resize.min.js"></script>
<script src="/filepond-plugin-image-transform.min.js"></script>
<script src="/filepond.min.js"></script>
<script src="/commander.js"></script>
</head>
<body class='<%=theme%>'>
<header class='navheader grabbable'>
<h1>
<a class='home' href="/"><i class="fa-solid fa-house"></i></a>
<button class='btn2' id='back'><div><i class="fa-solid fa-chevron-left"></i></div><div>Prev</div></button>
<button class='btn2' id='forward'><div><i class="fa-solid fa-chevron-right"></i></div><div>Next</div></button>
<a class='btn2 create-new' id='create-new-folder'><div><i class='fa-solid fa-plus'></i></div><div>New</div></a>
<a class='btn2' id='explore' href="/?mode=explore"><div><i class="fa-solid fa-magnifying-glass"></i></div><div>Discover</div></a>
<a href="/network" class='btn2'><div><i class="fa-solid fa-wifi"></i></div><div>Network</div></a>
<a href="/connect" class='btn2'><div><i class="fa-solid fa-circle-user"></i></div><div>Connect</div></a>
<div class='flexible'></div>
<div class='nav-btns'>
  <a href="/network" class='btn2'><div><i class="fa-solid fa-wifi"></i></div><div>Network</div></a>
  <a class='btn2' href="<%=portal%>" target="_blank"><div><i class="fa-solid fa-question"></i></div><div>Help</div></a>
  <button class='btn2' id='genlog'><div><i class="fa-solid fa-laptop-code"></i></div><div>Logs</div></button>
  <a id='downloadlogs' download class='hidden btn2' href="/pinokio/logs.zip"><div><i class="fa-solid fa-download"></i></div><div>Download logs</div></a>
  <a class='btn2' href="/?mode=settings"><div><i class="fa-solid fa-gear"></i></div><div>Settings</div></a>
  <% if (agent === "electron") { %>
    <a href="/" target="_blank" class='btn2' features="browser"><div><i class="fa-solid fa-square-up-right"></i></div><div>Open</div></a>
  <% } else { %>
    <a href="/" target="_blank" class='btn2'><div><i class="fa-solid fa-square-up-right"></i></div><div>Open</div></a>
  <% } %>
  <button id='new-window' title='open a new window' class='btn2'><div><i class="fa-solid fa-plus"></i></div><div>Window</div></button>
</div>
</h1>
</header>
<div class='appcanvas'>
  <aside class='active'>
    <div class='header-top header-item'>
      <div class='app-info'>
        <div class='app-info-card'>
          <% if (config.icon) { %>
            <img src="<%=config.icon%>"/>
          <% } else { %>
            <i class="fa-regular fa-circle-dot"></i>
          <% } %>
          <div><%=config.title%></div>
          <div class="folderpath"><%=config.web_path%></div>
        </div>
      </div>
    </div>
  </aside>
  <main>
  <!--
  <div class='prototype-header'>
    <div class='filepond-wrapper'>
      <div class='avatar-field'>
        <input id='new-folder-image' type="file" class="filepond" name="avatar" accept="image/png, image/jpeg, image/gif" />
      </div>
      <div class='folder-rows'>
        <div class='folder-row'>
          <label for='new-folder-path'>Folder Path</label>
          <div class='field-row'>
            <input id="new-folder-path" placeholder="Folder Path" autofocus  />
          </div>
        </div>
        <div class='folder-row'>
          <label for='new-folder-title'>Title (optional)</label>
          <input id="new-folder-title" placeholder="Enter the display name" />
        </div>
        <div class='folder-row'>
          <label for='new-folder-description'>Description (optional)</label>
          <textarea id="new-folder-description" placeholder="Enter the project description"></textarea>
        </div>
      </div>
    </div>
    <div class='footer'>
      <button class='btn' id='create'>Create</button>
    </div>
  </div>
  -->
  <div class='doc'>
    <div class='meta'>
      <img src="<%=icon%>">
      <div class='meta-content'>
        <h2><%=title%></h2>
        <div class='meta-description'><%=description%></div>
        <div class='meta-action'>
          <a href="/prototype/run/<%=name%>?path=<%=path%>" class='btn'><i class="fa-solid fa-play"></i> Run</a>
        </div>
      </div>
    </div>
    <div id='readme'><%-readme%></div>
  </div>
  </main>
</div>
<script>
/*
let textareas = document.querySelectorAll("textarea")
for(let textarea of textareas) {
  textarea.style.height = 'auto';
  textarea.style.height = textarea.scrollHeight + 'px';
  textarea.addEventListener('input', () => {
    textarea.style.height = textarea.scrollHeight + 'px';
  });
}
const input = document.querySelector("#new-folder-path")
input.focus()
FilePond.registerPlugin(
  FilePondPluginFileValidateType,
  FilePondPluginImageExifOrientation,
  FilePondPluginImagePreview,
  FilePondPluginImageCrop,
  FilePondPluginImageResize,
  FilePondPluginImageTransform,
  FilePondPluginImageEdit
);
let path
let title
let description
let pond = FilePond.create(
  document.querySelector('#new-folder-image'),
  {
    credits: false,
    allowReplace: true,
    allowRevert: true,
    allowRemove: true,

    allowImageCrop: true,
    allowImageEdit: true,
    allowImageTransform: true,


    labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
//          imagePreviewHeight: 170,
    imageCropAspectRatio: '1:1',
//          imageResizeTargetWidth: 200,
//          imageResizeTargetHeight: 200,
    imageTransformOutputMimeType: 'image/png',
//          stylePanelLayout: 'compact circle',
    instantUpload: false,
    server: {
      process: {
        url: '/new',
        onerror: (response) => {
          let err = JSON.parse(response)
          alert(err.error)
        },
        ondata: (formData) => {
          // set folder path
          let folder_path_el = document.querySelector('#new-folder-path')
          let folder_title_el = document.querySelector('#new-folder-title')
          let folder_description_el = document.querySelector('#new-folder-description')
          path = folder_path_el.value
          title = folder_title_el.value || path
          description = folder_description_el.value || ""
          formData.append("path", path)
          formData.append("title", title)
          formData.append("description", description)
          debugger
          return formData;
        }
      }
    },
    onprocessfile(error, file) {
      console.log({ file })
      if (!error) {
        location.href = `/prototype/run/<%=prototype_path%>?path=${path}`
      }
    },
    files: [
      {
        type: 'local',
        source: '/pinokio-black.png',
      }
    ]
  }
);
document.querySelector("#create").addEventListener("click", async (e) => {
  pond.processFile()
})
*/
</script>
</body>
</html>
